$margin-left-lg: 80px;
$margin-left-md: 40px;
$margin-left-sm: 20px;

$default-primary-color: #ff6600;
$default-secondary-color: #cc3300;
$default-bkgd-color: #ffcc00;
$default-text-color: #fff;
$offset: 7px;
$spacing: 20px;
$dim-amount: 0.2;
$duration: 0.15s;

$h1-xl: 4em; 
$h1-lg: 3.4em; 
$h1-md: 3em; 
$h1-sm: 2.6em; 
$yellow: #ffcc00;
$dark-yellow: #cc9900; 
$orange: #ff6600;
$dark-orange: #cc3300;
$gutter: 40px;
$cream: #502800;
 
@font-face {
   font-family: LEngineer;
   src: url(http://www.mozzstix.com/fonts/LEngineer-Regular.otf);
   font-weight: normal;
}

/* Text Format ----------------------------------*/

h1, h2 {
	margin: 0;
	padding: 0;
    font-weight: 800;
    line-height: 1em;
}
h1 {
	font-size: 64px;
	letter-spacing: -.5px;
}
p {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 18px;
	line-height: 34px;
	letter-spacing: .5px;
	text-align: left;
	color: #502800;
}
.quote {
	font-family: LEngineer;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: -2px;
}
h1.quote {

	font-size: 72px;
}
h1.light {
	font-weight: 300;
}
h1.star-rating {
	margin-bottom: 20px;
}
h2 {
	font-size: 36px;
	margin-bottom: 20px;
}
.column-header.left-align {
	.headline, .location {
		text-align: left;
	}
}
p.subheadline {
	font-weight: 800;
	color: #fff;
	letter-spacing: 0px;
}
a {
	text-decoration: none;
	color:#fff;
	text-transform: uppercase;
}
ol, ul {
	padding-left: 0px;
	margin: 0px;
	list-style-type: none;
}
.venue {
	text-transform: uppercase;
}
.neighborhood {
	font-weight: 500;
}


/* Page Format ----------------------------------*/

html {
	// min-width: 320px;
	font-family: Open Sans;
	-webkit-font-smoothing: antialiased;
}
body {
	margin: 0;
	overflow-x: hidden;
}
#site-content {
	position: relative;
	top: 60px;
}

.overlay {
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,.3);
}
.label {
	position: absolute;
	top: 50px;
	border-left: solid;
	border-width: 6px;
	padding-left: 8px;
	text-align: left;
	left: $margin-left-lg;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 800;
}
.promo {
	width: 100%;
	height: 640px;
	position: relative;
}
.promo-content-wrapper {
	display: table;
	margin: 0 auto;
	height: 100%;
}
.promo-content {
	display: table-cell;
	padding: 0 $margin-left-lg;
	vertical-align: middle;
	text-align: center;
	max-width: 800px;
}
.promo-text {
	margin-bottom: 15px;
}
.promo-text, .button-text {
	font-size: 24px;
	font-weight: 800;
	color: #fff
}
.promo-headline {
	margin-bottom: 25px;
}
.button-text {
	text-transform: uppercase;
}
.promo-top {
	display: table-row;
}
.promo-bottom {
	display: none;
}
.image .left-align {
	background-size: cover;
	background-position: right;
}
.image {
	background-size: cover;
	background-position: center;
}
.solid {
	background: orange;
}
.left-align {
	.promo-content-wrapper {margin: 0;}
	.promo-content {
		text-align: left;
		max-width: 480px;
	}
}
.right-align {
	.promo-content-wrapper {
		margin: 0;
		float: right;
	}
	.promo-content {
		text-align: right;
		max-width: 480px;
	}
}
.center-align {
	text-align: center;
}
.gradient {
	.promo-content {background: linear-gradient(to right, rgba(0,0,0,.6), rgba(0,0,0,0));}
}
.gradient-white {
	.promo-content {background: linear-gradient(to right, rgba(255,255,255,.6), rgba(255,255,255,0));}
}
.slant-promo-bottom {
	position: absolute;
	top: 640px;
	z-index: 1;
}
.slant-promo-top {
	position: absolute;
	bottom: 640px;
}

/* Rating ----------------------------------*/

.rating {
	&:after {
		left: 0;
		content: "\2605 \2605 \2605 \2605 \2605";
		position: absolute;
		overflow: hidden;
	}
}
.rating-wrapper {
	position: relative;
	display: table;
	margin: 0 auto;
	text-align: center;
}
@mixin rating-generator ($width, $star-color) {
	@extend .rating;
	&:after {
		width: $width;
		color: $star-color;
	}
}
.rating-1 {@include rating-generator(20%, $yellow);}
.rating-2 {@include rating-generator(40%, $yellow);}
.rating-3 {@include rating-generator(60%, $yellow);}
.rating-4 {@include rating-generator(80%, $yellow);}
.rating-5 {@include rating-generator(100%, $yellow);}
.rating-1-5 {@include rating-generator(30%, $yellow);}
.rating-2-5 {@include rating-generator(50%, $yellow);}
.rating-3-5 {@include rating-generator(70%, $yellow);}
.rating-4-5 {@include rating-generator(90%, $yellow);}


/* Button ----------------------------------*/

.button {
	will-change: transform;
	position: relative;
	display: inline-block;
	text-align: center;
	background-color: $default-primary-color;
	padding: 14px 24px;
	transition: transform $duration;
}
.button:before, .button:after {
	content: '';
	position: absolute;
	border: $offset solid transparent;
	will-change: border-left-width, border-top-width;
}
.button:before{
	top: 0px;
	left: 100%;
	width: 0px;
	height: 100%;
	border-bottom-width: 0px;
	border-left-color: $default-secondary-color;
	border-top-width: $offset;
	transition: border-left-width $duration, border-top-width $duration;
}
.button:after{
	width: 100%;
	height: 0px;
	top: 100%;
	left: 0px;
	border-left-width: $offset;
	border-right-width: 0px;
	border-top-width: $offset;
	border-top-color: $default-secondary-color;
	transition: border-left-width $duration, border-top-width $duration;
}
.button:hover {
	transform: translate($offset, $offset);
}
.button:hover:before, .button:hover:after {
	border-left-width: 0;
	border-top-width: 0;
}
.play-button {
	padding: 20px 24px;
}


/* Navigation ----------------------------------*/

nav {
	position: fixed;
	top: 0;
	left: 0;
	-webkit-transform:translateZ(2px);
	-moz-transform:translateZ(2px);
	-o-transform:translateZ(2px);
	transform:translateZ(2px);
	z-index: 99;
	height: 60px;
	width: 100%;
	background-color: $default-primary-color;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}
nav.open {
	height: 100%;
}
#hamburger{
	visibility: hidden;
}
#nav-items {
	margin: 0;
	padding-left: 0;
	position: absolute;
	left: $margin-left-lg;
	top: 18px;
	li {
		display: inline-block;
		margin-left: 30px;
		&:first-child{margin-left: 0;}
	}
	a {
		font-size: 18px;
		font-weight: 800;
		letter-spacing: 1px;
	}
	a:hover {
		border-bottom: solid 4px #fff;
		padding-bottom: 14px;
	}
}
#nav-items.open {
	visibility: visible;
	text-align: center;
	position: relative;
	left: initial;
	top: 30px;
	li {
		display: block;
		margin-left: initial;
		margin-top: 36px;
	}
	a {
		font-size: 28px
	}
	a:hover {
		padding-bottom: 0px;
	}
}
#logo {
	position: absolute;
	top: 16px;
	right: $margin-left-lg;
}
@media(max-width: 768px) {
	#nav-items {
		visibility: hidden;
	}
	#logo {
		left: 50%;
		transform: translate(-50%, 0%);
	}
	#hamburger{
		visibility: visible;
	}
}
@media(max-width: 368px) {
	#logo {
		left: initial;
		transform: initial;
		right: 20px;
	}
}



/* Hamburger icon -----*/

#hamburger {
  width: 36px;
  height: 26px;
  position: relative;
  left: 40px;
  top: 17px;
  // -webkit-transform: rotate(0deg);
  // -moz-transform: rotate(0deg);
  // -o-transform: rotate(0deg);
  // transform: rotate(0deg);
  // -webkit-transition: .5s ease-in-out;
  // -moz-transition: .5s ease-in-out;
  // -o-transition: .5s ease-in-out;
  // transition: .5s ease-in-out;
  // cursor: pointer;
}
@media(max-width: 568px) {
	#hamburger{
		left: 20px;
	}
}

#hamburger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  opacity: 1;
  left: 0;
  border-radius: 3px;
  // -webkit-transform: rotate(0deg);
  // -moz-transform: rotate(0deg);
  // -o-transform: rotate(0deg);
  // transform: rotate(0deg);
  // -webkit-transition: .25s ease-in-out;
  // -moz-transition: .25s ease-in-out;
  // -o-transition: .25s ease-in-out;
  // transition: .25s ease-in-out;
}

#hamburger span:nth-child(1) {
  top: 0px;
}

#hamburger span:nth-child(2),#hamburger span:nth-child(3) {
  top: 11px;
}

#hamburger span:nth-child(4) {
  top: 22px;
}

#hamburger.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

#hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamburger.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}



/* Recipe Detail Page ----------------------------------*/

.section-label {
	font-size: 24px;
	color: #000;
	font-weight: 800;
	padding-bottom: 15px;
}
#ingredients, #directions, #recipe-info {
	display: table;
}
#ingredients p {
	line-height: 26px;
	padding-bottom: 15px;
}
.measurement {
	color: #fff;
	font-size: 28px !important;
	font-weight: 800 !important;
	text-align: right;
	line-height: 50px;
	white-space: nowrap;
	padding-right: 15px;
}
// .step-num {
// 	h1 {
// 		line-height: 38px;
// 	}
// }
.directions li {
	counter-increment: step-counter;
	font-weight: 400;
	line-height: 1.2;
	clear: left;
	margin-bottom: 40px;
}
.directions li div {
	overflow: hidden;
	line-height: 1.2;
}
.directions li:before {
	content: counter(step-counter);
	margin-right: 15px;
	padding-left: 460px;
	@media(max-width: 1024px) {
		padding-left: 400px;
	}
	@media(max-width: 768px) {
		padding-left: 360px;
	}
	@media(max-width: 668px) {
		padding-left: 40px;
	}
	@media(max-width: 568px) {
		padding-left: 20px;
	}
	font-size: 56px;
	font-family:'Open Sans', sans-serif;
	font-weight: 800;
	color: white;
	float: left;
}


/* Review Detail Pages ----------------------------------*/

.hero-img {
	width: 100%;
	height: 450px;
	background-size: cover;
	background-position: right;
}
.section-wrapper {
	margin: 40px auto;
	position: relative;
	max-width: 1200px;
}
.column-header {
	margin: 80px 460px 40px 80px;
}
.column-single, .column-outset {
	margin: 0px 460px 40px 80px;
}
.sidebar-wrapper {
	float: right;
	width: 380px;
}
.sidebar {
	top: 0px;
	margin-right: 80px;
	position: absolute;
	-webkit-transform:translateZ(1px);
	-moz-transform:translateZ(1px);
	-o-transform:translateZ(1px);
	transform:translateZ(1px);
	.rating {
		letter-spacing: 4px;
		font-size: 20px;
	}
	.rating-wrapper {
		float: right;
	}
	p {
		line-height: 36px;
	}
}
.sidebar-details {
	margin-top: 30px;
}
.table {
	display: table;
	width: 300px;
}
.row {
	display: table-row;
	&:nth-last-child(2) .cell.hr{
		padding-bottom: 15px;
	}
	&:last-child .cell.hr{
		padding-top: 15px;
		border-top: 2px solid #d6ceab;
		width: auto;
	}
}
.cell {
	display: table-cell;
	vertical-align: middle;
	padding-bottom: 5px;
}
.headline {
	font-size: 34px;
	font-weight: 800;
	color: #000;
	text-align: center;
	margin-bottom: 15px;
}
.location {
	font-size: 22px;
	line-height: 34px;
	color: #000;
	text-align: center;
	margin-bottom: 15px;
}
.rating-overall {
	font-size: 64px;
	line-height: 64px;
}
// .vr {
// 	height: 100px;
// 	width: 2px;
// 	background-color: #d6ceab;
// 	margin: 25px auto;
// }
p {
	font-size: 18px;
	line-height: 40px;
	color: #342d29;
}
.weight-700 {
	font-weight: 700;
}

.social-module {
	position: absolute;
	z-index: 1px;
	-webkit-transform:translateZ(1px);
	-moz-transform:translateZ(1px);
	-o-transform:translateZ(1px);
	transform:translateZ(1px);
	left: 80px;
	top: 360px;
}
.in-nav {
	position: fixed;
	left: initial;
	top: 10px;
	right: 80px;
	-webkit-transform:translateZ(3px);
	-moz-transform:translateZ(3px);
	-o-transform:translateZ(3px);
	transform:translateZ(3px);
	z-index: 101;
	.social-icon {
		width: 40px;
		height: 40px;
	}
}
.social-button {
	display: inline;
	margin-right: 10px;
	&:last-child{margin-right: 0px;}
}
.social-icon {
	width: 50px;
	height: 50px;
}
.locked-at-top {
	position: fixed;
	top: 140px;
}
.locked-at-bottom {
	position: fixed;
	bottom: 60px;
	top: initial;
}
.scale-img {
	height: auto; 
    width: 100%; 
}
.quotation {
	font-family: LEngineer;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: -2px;
	font-size: 72px;
	text-align: center;
	color: #ec5002;
}

.section-wrapper.left-sidebar {
	.sidebar {
		margin-right: 0px;
		margin-left: 80px;
	}
	.column-header {
		margin: 80px 80px 40px 460px;
	}
	.column-single, .column-outset {
		margin: 0px 80px 40px 460px;
	}
	.sidebar-wrapper {
		float: left;
		width: 380px;
	}
}


@media(max-width: 1024px) {
	.column-header {
		margin: 80px 400px 40px 80px;
	}
	.column-single, .column-outset {
		margin: 0px 400px 40px 80px;
	}
	.sidebar-wrapper {
		width: 340px;
	}
	.section-wrapper.left-sidebar {
		.column-header {
			margin: 80px 80px 40px 400px;
		}
		.column-single, .column-outset {
			margin: 0px 80px 40px 400px;
		}
		.sidebar-wrapper {
			width: 340px;
		}
	}
	p {
		font-size: 16px;
		line-height: 42px;
	}
	.table {
		width: 260px;
	}
	.rating-overall {
		font-size: 54px;
		line-height: 54px;
	}
	.quotation {
		font-size: 54px;
	}
}
@media(max-width: 768px) {
	.hero-content {
		padding: 40px;
	}
	.column-header {
		margin: 80px 360px 40px 40px;
	}
	.column-single, .column-outset {
		margin: 0px 360px 40px 40px;
	}
	.sidebar-wrapper {
		width: 300px;
	}
	.section-wrapper.left-sidebar {
		.column-header {
			margin: 80px 40px 40px 360px;
		}
		.column-single, .column-outset {
			margin: 0px 40px 40px 360px;
		}
		.sidebar-wrapper {
			width: 300px;
		}
		.sidebar {
			margin-left: 40px;
		}
	}
	.table {
		width: 260px;
	}
	.social-module {
		left: 40px;
		top: 380px;
	}
	.in-nav {
		left: initial;
		right: 40px;
		top: 10px;
	}
}
@media(max-width: 668px) {
	.section-wrapper {
		margin-top: 0px;
	}
	.hero-img {
		height: 230px;
		position: relative;
	}
	.label-container {
		width: 100%;
		height: 60px;
		position: absolute;
		top: 0px;
		background: linear-gradient(to bottom, rgba(0,0,0,.6), rgba(0,0,0,0));
	}
	.sidebar-wrapper {
		float: none;
		width: 100%;
		display: table;
	}
	.table {
		width: 100%;
	}
	.sidebar {
		top: 0px;
		width: auto;
		position: relative;
	}
	.sidebar, .column-single {
		margin: 0px 40px 40px 40px;
	}
	.column-header {
		margin: 40px;
	}
	.column-outset {
		margin: 0px 0px 40px 0px;
	}
	.section-wrapper.left-sidebar {
		.sidebar {
			float: left;
		}
		.sidebar-wrapper {
			float: none;
			width: 100%;
		}
		.column-single {
			margin: 0px 40px 40px 40px;
		}
		.column-header {
			margin: 40px;
		}
		.column-outset {
			margin: 0px 0px 40px 0px;
		}
	}
	.social-module {
		top: 160px;
	}
	.social-icon {
		height: 40px;
		width: 40px;
	}
	.in-nav {
		top: 10px;
	}
}
@media(max-width: 568px) {
	.sidebar, .column-single {
		margin: 0px 20px 40px 20px;
	}
	.column-header {
		margin: 40px 20px 40px 20px;
	}
	.section-wrapper.left-sidebar {
		.sidebar, .column-single {
			margin: 0px 20px 40px 20px;
		}
		.column-header {
			margin: 40px 20px 40px 20px;
		}
	}
	.social-module {
		left: 20px;
	}
	.in-nav {
		left: initial;
		right: 20px;
	}
}
.no-bottom-spacing {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}

/* About Page ----------------------------------*/

.uppercase {
	text-transform: uppercase;
}
.light {
	font-weight: 300;
	letter-spacing: 1.5px;
}
.extra-jumbo {
	font-size: 175px;
	text-transform: uppercase;
	line-height: 120px;
}
.jumbo {
	font-size: 104px;
	text-transform: uppercase;
}
.cycle {
	div {
		display: inline-block;
	}
}
.cycle-text {
	text-align: left;
	// white-space: nowrap;
}
.bio-image {
	max-width: 250px;
}
.mozzstix-logo {
	max-width: 600px;

}


/* Themes ----------------------------------*/

@mixin theme-generator ($color-primary, $color-secondary, $color-bkgd, $color-text) {
	h1, h2, h3, h4, .promo-text {
		color: $color-text;
		// text-shadow: 0px 0px 25px rgba(0, 0, 0, .5);
		// background-color: red;
	}
	.rating {
		color: #ffd200;
		&:after {
			color: #ec5002;
		}
		// color: rgba(0, 0, 0, .2);
		// color: #fff;
	}
	&.solid {
		background: $color-bkgd;
	}
	&.color-block {
		background-color: $color-secondary;
		.location {
			color: #fff;
		}
	}
	.slant-promo-bottom {
		fill: $color-bkgd;
	}
	.label {
		color: $color-secondary;
	}
	.button {
		background-color: $color-primary;
		&:before{
			border-left-color: $color-secondary;
		}
		&:after{
			border-top-color: $color-secondary;
		}
	}
	svg {
		fill: $color-bkgd;
	}
	@media(max-width: 568px) {
		.promo-top {
			.promo-content {
				background-color: $color-bkgd;
			}
		}
	}
	background-color: $color-bkgd;
}
.white {@include theme-generator(#cccccc, #666666, #fff, #000);}
.velveta {@include theme-generator(#ff6600, #cc3300, #ffa500, #fff);}
.logo {@include theme-generator(#ff6600, #cc3300, #e79500, #fff);}
.mustard {@include theme-generator(#ffff00, #cccc00, #ffd200, #fff);}
.ketchup {@include theme-generator(#cc0000, #660000, #cc6666, #fff);}
.lettuce {@include theme-generator(#009933, #003300, #669966, #fff);}
.velveta-blk {@include theme-generator(#ff6600, #cc3300, #ffa500, #000);}
.panko {@include theme-generator(#ff6600, #d6ceab, #fff5cb, #342d29);}


/* Page Format Media Queries ----------------------------------*/

@media(max-width: 1024px) {
	.promo {
		height: 560px;
	}
	.bottom-slant {
		position: absolute;
		top: 400px;
	}
	#recipe-info {
		top: 250px;
	}
	.promo-content {
		max-width: 650px;
	}
	.left-align {.promo-content{max-width: 420px;}}
}
@media(max-width: 768px) {
	.promo {
		height: 480px;
	}
	.promo-content {
		max-width: 500px;
		padding: 20px $margin-left-md;
	}
	.left-align {.promo-content{max-width: 360px;}}
	.label {
		left: $margin-left-md;
		top: 20px;
	}
}
@media(max-width: 568px) {
	.promo-content-wrapper {
		width: 100%;
	}
	.promo-content {
		max-width: initial;
		padding: 0 $margin-left-sm;
	}
	.label {
		top: 20px;
		left: $margin-left-sm;
	}
	//On phone, left-align reverts to center
	.left-align {
		.promo-content-wrapper {margin: 0 auto;}
		.promo-content {text-align: center;}
	}
	//On phone, gradient turns into a dim
	.gradient {
		.promo-content {background:rgba(0,0,0,.6);}
	}
	.gradient-white {
		.promo-content {background:rgba(255,255,255,.6);}
	}
	.split {
		.promo-bottom{
			display: table-row;
			height: 55%;
			background-size: cover;
			background-position: center;
		}
		.promo-content {
			background-color: orange;
			padding: 50px $margin-left-sm 20px $margin-left-sm;
		}
		.button-wrapper {
			display: relative;
			position: absolute;
			bottom: 30px;
			left: 0px;
			right: 0px;
			margin: 0 auto; 
		}
	}
	// Recipe page
	#recipe-info {
		position: relative;
		top: initial;
		right: intiial;
		width: 100%;
		padding: 10px 0px;
	}
}
.flex-height {
	height: initial;
}

/* Text Size Media Queries ----------------------------------*/

@media(max-width: 1024px) {
	h1 {font-size: 64px;}
	h1.quote {font-size: 64px;}
	.extra-jumbo {font-size: 175px;}
	.jumbo {font-size: 104px;}
}
@media(max-width: 768px) {
	h1 {font-size: 48px;}
	h1.quote {font-size: 52px;}
	h2 {font-size: 28px}
	.promo-text, .button-text {font-size: 22px;}
	.extra-jumbo {font-size: 146px;}
	.jumbo {font-size: 86px;}
}
@media(max-width: 568px) {
	h1 {font-size: 36px;}
	h1.quote {font-size: 42px;}
	h2 {font-size: 24px}
	// p {font-size: $h1-sm * .46;}
	.button-text {font-size: 18px;}
	.extra-jumbo {font-size: 80px;}
	.jumbo {font-size: 48px;}
	// .promo-text {font-size: 22}
}