$margin-left-lg: 80px;
$margin-left-md: 40px;
$margin-left-sm: 20px;

$default-primary-color: #ff6600;
$default-secondary-color: #cc3300;
$default-bkgd-color: #ffcc00;
$default-text-color: #fff;
$offset: 7px;
$spacing: 20px;
$dim-amount: 0.2;
$duration: 0.15s;

$h1-xl: 4em; 
$h1-lg: 3.4em; 
$h1-md: 3em; 
$h1-sm: 2.6em; 
$yellow: #ffcc00;
$dark-yellow: #cc9900; 
$orange: #ff6600;
$dark-orange: #cc3300;
$gutter: 40px;
$cream: #732700;
 
@font-face {
   font-family: LEngineer;
   src: url(http://www.mozzstix.com/fonts/LEngineer-Regular.otf);
   font-weight: normal;
}


/* Page Format ----------------------------------*/

html {
	min-width: 320px;
	font-family: Open Sans;
	-webkit-font-smoothing: antialiased;
}
body {
	color: white;
	margin: 0;
}
#site-content {
	position: relative;
	top: 60px;
}

.overlay {
	width: 100%;
	height: 100%;
}
.label {
	position: absolute;
	top: 50px;
	border-left: solid;
	border-width: 6px;
	padding-left: 8px;
	text-align: left;
	left: $margin-left-lg;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 800;
}
.promo {
	width: 100%;
	height: 640px;
	position: relative;
}
.promo-content-wrapper {
	display: table;
	margin: 0 auto;
	height: 100%;
}
.promo-content {
	display: table-cell;
	padding: 0 $margin-left-lg;
	vertical-align: middle;
	text-align: center;
	max-width: 800px;
}
.promo-text {
	margin-bottom: 15px;
}
.promo-text, .button-text {
	font-size: 24px;
	font-weight: 800;
	color: #fff
}
.promo-headline {
	margin-bottom: 25px;
}
.button-text {
	text-transform: uppercase;
}
.hero {
	@extend .promo;
	height: 450px;
}
.hero-content-wrapper {
	@extend .promo-content-wrapper;
}
.hero-content {
	@extend .promo-content;
}
.promo-top {
	display: table-row;
}
.promo-bottom {
	display: none;
}
.image .left-align {
	background-size: cover;
	background-position: right;
}
.image {
	background-size: cover;
	background-position: center;
}
.solid {
	background: orange;
}
.dim {
	.overlay {
		background:rgba(0,0,0,.6);
	}
}
.left-align {
	.promo-content-wrapper {margin: 0;	}
	.promo-content {
		text-align: left;
		max-width: 480px;
	}
}
.right-align {
	.promo-content-wrapper {
		margin: 0;
		float: right;
	}
	.promo-content {
		text-align: right;
		max-width: 480px;
	}
}
.center-align {
	text-align: center;
}
.gradient {
	.promo-content {background: linear-gradient(to right, rgba(0,0,0,.6), rgba(0,0,0,0));}
}
.slant-promo-bottom {
	position: absolute;
	top: 640px;
	z-index: 1;
}
.slant-promo-top {
	position: absolute;
	bottom: 640px;
}


/* Detail Pages ----------------------------------*/

hr {
	border: 0;
	border-bottom: (3px dashed #c84300);
}
.pure-g > div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.l-box {
	padding: 20px;
}
.content-wrapper {
	min-width: 320px;
	max-width: 960px;
	margin: 0 auto;
}
.row {
	display: table-row;
}
.cell {
	padding: 10px;
	display: table-cell;
	vertical-align: top;
}
.no-wrap {
	white-space: nowrap;
	text-align: right;
}
.scale-img {
	height: auto; 
    width: 100%; 
}
.margin-top-bottom {
	margin: 50px auto;
}
.margin-bottom-md {
	margin-bottom: 25px;
}
.margin-bottom-sm {
	margin-bottom: 15px;
}
.padding {
	padding: 0 1em;
}
.extra-padding {
	padding: 0 6em;
}
.margin-top-bottom-sm {
	margin: 25px 0;
}
.float-left {
	float: left;
}

/* Navigation ----------------------------------*/

nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	height: 60px;
	width: 100%;
	background-color: $default-primary-color;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
}
#nav-items {
	margin: 0;
	padding-left: 0;
	position: absolute;
	left: $margin-left-lg;
	top: 18px;
	li {
		display: inline-block;
		margin-left: 30px;
		&:first-child{margin-left: 0;}
	}
	a {
		font-size: 18px;
		font-weight: 800;
		// letter-spacing: 2px;
	}
	a:hover {
		border-bottom: solid 4px #fff;
		padding-bottom: 14px;
	}
}
#logo {
	position: absolute;
	top: 16px;
	right: $margin-left-lg;
}
@media(max-width: 768px) {
	#nav-items {
		left: $margin-left-md;
		li {
			margin-left: 20px;
		}
	}
	#logo {
		right: $margin-left-md;
	}

}
@media(max-width: 568px) {
nav {
	box-shadow: none;
	position: relative;
	background-color: initial;
}
.logo-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	height: 60px;
	width: 100%;
	background-color: $default-primary-color;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
}
#logo {
	left: 50%;
	transform: translate(-50%, 0%);
}
.nav-items-wrapper {
	position: absolute;
	top: 60px;
	left: 0px;
	height: 44px;
	width: 100%;
	background-color: #fff;
	border-bottom: solid 2px #eee;
}
#nav-items {
	top: 11px;
	width: 272px;
	left: 50%;
	transform: translate(-50%, 0%);	
	li {
		margin-left: 40px;
		&:first-child{margin-left: 0;}
	}
	a {
		font-size: 16px;
		letter-spacing: 0px;
		color: $default-secondary-color;
	}
	a:hover {
		border-bottom: solid 4px #cc3300;
		padding-bottom: 7px;
	}
}
#site-content {
	top: 46px;
}
}


/* Text Format ----------------------------------*/

h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;
    font-weight: 800;
    line-height: 1em;
}
h1 {
	font-size: 72px;
	letter-spacing: -.5px;
}
h1.quote {
	font-family: LEngineer;
	font-weight: normal;
	font-size: 96px;
	text-transform: uppercase;
	letter-spacing: -2px;
}
h1.light {
	font-weight: 300;
}
p.location {
	text-transform: uppercase;
	letter-spacing: 2px;
}
h1.star-rating {
	margin-bottom: 20px;
}
h2 {
	font-size: $h1-md * .46;
	text-transform: uppercase;
}
p {
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	color: $cream;
	letter-spacing: 1px;
}
a {
	text-decoration: none;
	color:#fff;
	text-transform: uppercase;
}
ol, ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.venue {
	text-transform: uppercase;
}
.venue-location {
	font-weight: 500;
}


/* Rating ----------------------------------*/

.rating {
	&:after {
		left: 0;
		content: "\2605 \2605 \2605 \2605 \2605";
		position: absolute;
		overflow: hidden;
	}
}
.rating-wrapper {
	position: relative;
	display: table;
	margin: 0 auto;
	text-align: center;
}
@mixin rating-generator ($width, $star-color) {
	@extend .rating;
	&:after {
		width: $width;
		color: $star-color;
	}
}
.rating-1 {@include rating-generator(20%, $yellow);}
.rating-2 {@include rating-generator(40%, $yellow);}
.rating-3 {@include rating-generator(60%, $yellow);}
.rating-4 {@include rating-generator(80%, $yellow);}
.rating-5 {@include rating-generator(100%, $yellow);}
.rating-1-5 {@include rating-generator(30%, $yellow);}
.rating-2-5 {@include rating-generator(50%, $yellow);}
.rating-3-5 {@include rating-generator(70%, $yellow);}
.rating-4-5 {@include rating-generator(90%, $yellow);}


/* Button ----------------------------------*/

.button {
	will-change: transform;
	position: relative;
	display: inline-block;
	text-align: center;
	background-color: $default-primary-color;
	padding: 14px 24px;
	transition: transform $duration;
}
.button:before, .button:after {
	content: '';
	position: absolute;
	border: $offset solid transparent;
	will-change: border-left-width, border-top-width;
}
.button:before{
	top: 0px;
	left: 100%;
	width: 0px;
	height: 100%;
	border-bottom-width: 0px;
	border-left-color: $default-secondary-color;
	border-top-width: $offset;
	transition: border-left-width $duration, border-top-width $duration;
}
.button:after{
	width: 100%;
	height: 0px;
	top: 100%;
	left: 0px;
	border-left-width: $offset;
	border-right-width: 0px;
	border-top-width: $offset;
	border-top-color: $default-secondary-color;
	transition: border-left-width $duration, border-top-width $duration;
}
.button:hover {
	transform: translate($offset, $offset);
}
.button:hover:before, .button:hover:after {
	border-left-width: 0;
	border-top-width: 0;
}
.play-button {
	padding: 20px 24px;
}


/* Recipe Detail Page ----------------------------------*/

.bottom-slant {
	position: absolute;
	top: 400px;
}
.top-slant {
	position: absolute;
	top: 0px;
}
#ingredients, #directions, #recipe-info {
	display: table;
}
#recipe-info {
	position: absolute;
	top: 300px;
	right: 0px;
	background-color: #ffffcc;
	padding: 10px 40px;
	.cell {
		padding: 0px 5px;
		p {
			line-height: 26px;
		}
	}
}
// .step-num {
// 	h1 {
// 		line-height: 38px;
// 	}
// }
.box-header {
	font-size: $h1-xl * .60;
	text-transform: capitalize;
}
#directions li {
	counter-increment: step-counter;
	font-weight: 400;
	line-height: 1.2;
	clear: left;
	padding-bottom: 20px;

}
li div {
overflow: hidden;
line-height: 1.2;

}
#directions li:before {
	content: counter(step-counter);
	margin: -8px 20px 0 0;
	font-size: 4em;
	font-family:'Open Sans', sans-serif;
	font-weight: 800;
	color: white;
	float: left;
}


/* Review Detail Page ----------------------------------*/

// .table {
// 	display: table;
// }
// .row {
// 	display: table-row;
// }
// .cell {
// 	position: relative;
// 	display: table-cell;
// 	&:first-child{padding-right: 10px;}
// }

// .star-rating {font-size: $h1-lg * 1.25;}

// .breakdown {
// 	.row {
// 		p {
// 			&:first-child{
// 				text-align: right;
// 				white-space: nowrap;
// 			}
// 		}
// 	}
// }
// .details {
// 	.table {
// 		.cell {
// 			&:first-child{
// 				white-space: nowrap;
// 			}
// 			&:last-child{
// 				color: $yellow;
// 				font-weight: 600;
// 			}
// 		}
// 	}
// }
/* About Page ----------------------------------*/
.about-welcome {
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 300;
	color: #cc0000;
}
.about-melty {
	font-size: 175px;
	text-transform: uppercase;
}
.about-goodness {
	font-size: 104px;
	text-transform: uppercase;
}


/* Themes ----------------------------------*/

@mixin theme-generator ($color-primary, $color-secondary, $color-bkgd, $color-text) {
	h1, h2, h3, h4 {
		color: $color-text;
	}
	.star-rating {
		color: rgba(0,0,0, .2);
	}
	&.solid {
		background: $color-bkgd;
	}
	&.color-block {
		background-color: $color-secondary;
		.location {
			color: #fff;
		}
	}
	.slant-promo-bottom {
		fill: $color-bkgd;
	}
	.label {
		color: $color-secondary;
	}
	.button {
		background-color: $color-primary;
		&:before{
			border-left-color: $color-secondary;
		}
		&:after{
			border-top-color: $color-secondary;
		}
	}
	svg {
		fill: $color-bkgd;
	}
	@media(max-width: 568px) {
		.promo-top {
			.promo-content {
				background-color: $color-bkgd;
			}
		}
	}
	background-color: $color-bkgd;
}
.white {@include theme-generator(#cccccc, #666666, #fff, #000);}
.velveta {@include theme-generator(#ff6600, #cc3300, orange, #fff);}
.mustard {@include theme-generator(#ffff00, #cccc00, #ffd200, #fff);}
.ketchup {@include theme-generator(#cc0000, #660000, #cc6666, #fff);}
.lettuce {@include theme-generator(#009933, #003300, #669966, #fff);}
.velveta-blk {@include theme-generator(#ff6600, #cc3300, orange, #000);}

/* Page Format Media Queries ----------------------------------*/

@media(max-width: 1024px) {
	.promo {
		height: 560px;
	}
	.hero {
		height: 400px;
	}
	.bottom-slant {
		position: absolute;
		top: 350px;
	}
	#recipe-info {
		top: 250px;
	}
	.promo-content {
		max-width: 650px;
	}
	.left-align {.promo-content{max-width: 420px;}}
}
@media(max-width: 768px) {
	.promo {
		height: 480px;
	}
	.hero {
		height: 400px;
	}
	.promo-content {
		max-width: 500px;
		padding: 20px $margin-left-md;
	}
	.left-align {.promo-content{max-width: 360px;}}
	.label {
		left: $margin-left-md;
		top: 20px;
	}
}
@media(max-width: 568px) {
	.promo-content-wrapper {
		width: 100%;
	}
	.promo-content {
		max-width: initial;
		padding: 0 $margin-left-sm;
	}
	.label {
		top: 20px;
		left: $margin-left-sm;
	}
	//On phone, left-align reverts to center
	.left-align {
		.promo-content-wrapper {margin: 0 auto;}
		.promo-content {text-align: center;}
	}
	//On phone, gradient turns into a dim
	.gradient {
		.promo-content {background:rgba(0,0,0,.6);}
	}
	.split {
		.promo-bottom{
			display: table-row;
			height: 55%;
			background-size: cover;
			background-position: center;
		}
		.promo-content {
			background-color: orange;
			padding: 50px $margin-left-sm 20px $margin-left-sm;
		}
		.button-wrapper {
			display: relative;
			position: absolute;
			bottom: 30px;
			left: 0px;
			right: 0px;
			margin: 0 auto; 
		}
	}
	// Recipe page
	.bottom-slant {
		visibility: hidden;
	}
	#recipe-info {
		position: relative;
		top: initial;
		right: intiial;
		width: 100%;
		padding: 10px 0px;
	}
}


/* Text Size Media Queries ----------------------------------*/

@media(max-width: 1024px) {
	h1 {font-size: 64px;}
	h1.quote {font-size: 72px;}
}
@media(max-width: 768px) {
	h1 {font-size: 48px;}
	h1.quote {font-size: 64px;}
	.promo-text, .button-text {font-size: 22px;}
}
@media(max-width: 568px) {
	h1 {font-size: 36px;}
	h1.quote {font-size: 48px;}
	h2, p {font-size: $h1-sm * .46;}
	.button-text {font-size: 18px;}
	// .promo-text {font-size: 22}
}