<div id="nav-wrapper">
<nav>
	<div class="nav-items-wrapper">
		<div id="hamburger">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
		<ul id="nav-items">
{# 			{% if cms.recipe|size > 0 %}
			<li><a href="recipe.html">Recipes</a></li>
			{% endif %}
			{% if cms.review|size > 1 %}
			<li><a href="recipe.html">Reviews</a></li>
			{% endif %} #}
			<li><a href="/index.html">Blog</a></li>
			<li><a href="/about/">About</a></li>
			<li><a href="/contact/">Contact</a></li>
		</ul>
	</div>
	<div class="logo-wrapper">
		<img id="logo" width="216" height="28" src="http://www.mozzstix.com/logos/horz-logo.svg"></img>
	</div>
</nav>
</div>