<div class="promo solid {{ item.theme }}">
	<div class="promo-content-wrapper">
		<div class="promo-content">
			<h4 class="label">{{ item._type }}</h4>
			<h3>{{ item.name }} <span class="venue-location">{{ item.neighborhood }}</span><h3>
			<div class="rating-wrapper">
				<h1 class="rating-{{ item.rating}} star-rating">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</h1>
			</div>
			<h1 class="quote padding-bottom">&ldquo;{{ item.promo_quotation }}&rdquo;</h1>
			<div class="button"><h2>{{ item.promo_cta }}</h2></div>
		</div>
	</div>
</div>