<div class="promo left-align image gradient split {{ item.theme }}" style="background-image:url({{ item.image.url }});">
	<div class="promo-content-wrapper">
		<div class="split-top">
			<div class="promo-content">
				<h4 class="label">{{ item._type }}</h4>
				<h3>{{ item.promo_text}}</h3>
				<h1>{{ item.name }}</h1>
				<div class="button-wrapper">
					<div class="button"><a href="{{ url(item) }}"><h2>{{ item.promo_cta}}</h2></a></div>
				</div>
			</div>
		</div>
		<div class="split-bottom" style="background-image:url({{ item.split_image.url }});">
			<svg width="100%" height="40" viewBox="0 0 50 50" preserveAspectRatio="none">
				<polygon class="slant" points="0,0 50,0 50,50"/>
			</svg>
		</div>
	</div>
</div>