<div class="promo image dim {{ item.theme }}" style="background-image:url({{ item.promo_image.url }});">
	<video autoplay loop>
		<source id="mp4" src="http://www.mozzstix.com/videos/deep-fryer.mp4" type="video/mp4">
	</video>
	<div class="overlay">
		<div class="promo-content-wrapper">
			<div class="promo-content">
				<div class="label">{{ item._type }}</div>
				{% if item.promo_text %}
				<div class="promo-text">{{ item.promo_text}}</div>
				{% endif %}
				<h1 class="promo-headline">{{ item.name }}</h1>
				<!-- <div class="button play-button"><a href="{{ url(item) }}"><h1>&#9654</h1></a></div> -->
				<a class="lightbox" href="https://www.youtube.com/watch?v=-NN33aMl0s0">
					<div class="button-wrapper">
						<div class="button"><div class="button-text">{{ item.promo_cta|default('Play Now') }}</div><div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<div id="youtubelightbox" class="parent">
    <div class="centeredchild">
        <div class="videowrapper">
            <div id="playerdiv"></div>
        </div>
    </div>
</div>
<script src="/static/javascript/youtube.js"></script>