<div class="promo image dim {{ item.theme }}" style="background-image:url({{ item.promo_image.url }});">
	<div class="overlay">
		<div class="promo-content-wrapper">
			<div class="promo-content">
				<div class="label">{{ item._type }}</div>
				{% if item.promo_text %}
				<div class="promo-text">{{ item.promo_text}}</div>
				{% endif %}
				<h1 class="promo-headline">{{ item.name }}</h1>
				<!-- <div class="button play-button"><a href="{{ url(item) }}"><h1>&#9654</h1></a></div> -->
				<div class="button-wrapper">
					<div class="button"><a href="{{ url(item) }}"><div class="button-text">{{ item.promo_cta|default('Play Now') }}</div></a></div>
				</div>
			</div>
		</div>
	</div>
</div>