@font-face {
  font-family: LEngineer;
  src: url(http://www.mozzstix.com/fonts/LEngineer-Regular.otf);
  font-weight: normal; }
/* Page Format ----------------------------------*/
html {
  min-width: 320px;
  font-family: Open Sans;
  -webkit-font-smoothing: antialiased; }

body {
  color: white;
  margin: 0; }

#site-content {
  position: relative;
  top: 60px; }

.overlay {
  width: 100%;
  height: 100%; }

.label {
  position: absolute;
  top: 50px;
  border-left: solid;
  border-width: 6px;
  padding-left: 8px;
  text-align: left;
  left: 80px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800; }

.promo {
  width: 100%;
  height: 640px;
  position: relative; }

.promo-content-wrapper {
  display: table;
  margin: 0 auto;
  height: 100%; }

.promo-content {
  display: table-cell;
  padding: 0 80px;
  vertical-align: middle;
  text-align: center;
  max-width: 800px; }

.promo-text {
  margin-bottom: 15px; }

.promo-text, .button-text {
  font-size: 24px;
  font-weight: 800;
  color: #fff; }

.promo-headline {
  margin-bottom: 25px; }

.button-text {
  text-transform: uppercase; }

.promo-top {
  display: table-row; }

.promo-bottom {
  display: none; }

.image .left-align {
  background-size: cover;
  background-position: right; }

.image {
  background-size: cover;
  background-position: center; }

.solid {
  background: orange; }

.dim .overlay {
  background: rgba(0, 0, 0, 0.3); }

.left-align .promo-content-wrapper {
  margin: 0; }
.left-align .promo-content {
  text-align: left;
  max-width: 480px; }

.right-align .promo-content-wrapper {
  margin: 0;
  float: right; }
.right-align .promo-content {
  text-align: right;
  max-width: 480px; }

.center-align {
  text-align: center; }

.gradient .promo-content {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), transparent); }

.gradient-white .promo-content {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0)); }

.slant-promo-bottom {
  position: absolute;
  top: 640px;
  z-index: 1; }

.slant-promo-top {
  position: absolute;
  bottom: 640px; }

/* Detail Pages ----------------------------------*/
.hero {
  width: 100%;
  height: 450px;
  position: relative; }

.hero-img {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: right;
  z-index: -1; }

.hero-content-wrapper {
  display: table;
  height: 100%;
  margin: 0 auto; }

.hero-content {
  display: table-cell;
  padding: 80px;
  vertical-align: middle;
  text-align: center;
  max-width: 800px; }
  .hero-content p {
    color: #fff;
    font-weight: 600; }

.left-align-gradient .hero-content-wrapper {
  margin: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), transparent); }
.left-align-gradient .hero-content {
  text-align: left;
  max-width: 480px; }

.section-wrapper {
  display: table;
  margin: 40px auto; }

.single-column, .outset-column {
  margin: 0px 80px 40px 380px;
  max-width: 660px; }

.sidebar {
  margin-left: 80px;
  width: 280px;
  position: absolute; }
  .sidebar p {
    margin-bottom: 15px; }

.locked-at-top {
  position: fixed;
  top: 100px; }

.table {
  display: table; }

.row {
  display: table-row; }

.cell {
  display: table-cell;
  vertical-align: top;
  padding-right: 20px;
  padding-bottom: 10px; }

@media (max-width: 768px) {
  .hero-content {
    padding: 40px; }

  .single-column, .outset-column {
    margin: 0px 40px 40px 340px;
    max-width: initial; }

  .sidebar {
    margin: 0px 40px 40px 40px; } }
@media (max-width: 668px) {
  .single-column {
    margin: 0px 40px 40px 40px; }

  .outset-column {
    margin: 0px 0px 40px 0px; }

  .locked-at-top {
    position: initial;
    top: initial; }

  .sidebar {
    position: initial; } }
@media (max-width: 568px) {
  .hero {
    height: auto; }

  .hero-img {
    height: 200px;
    position: relative; }

  .left-align-gradient .hero-content-wrapper {
    background: initial; }

  .hero-content {
    padding: 20px; }

  .label-container {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent); }

  .sidebar, .single-column {
    margin: 0px 20px 40px 20px; } }
.details {
  margin-bottom: 0px; }

p {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: .5px;
  text-align: left;
  color: #502800; }

.weight-800 {
  font-weight: 800; }

.rating-sm, .rating-md {
  color: rgba(0, 0, 0, 0.2); }

.rating-sm {
  font-size: 20px;
  line-height: 30px; }

.rating-md {
  font-size: 50px; }

.scale-img {
  height: auto;
  width: 100%; }

.quotation {
  font-family: LEngineer;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: -2px;
  font-size: 46px;
  text-align: center; }

.no-wrap {
  white-space: nowrap;
  text-align: right; }

/* Navigation ----------------------------------*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 60px;
  width: 100%;
  background-color: #ff6600;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); }

#nav-items {
  margin: 0;
  padding-left: 0;
  position: absolute;
  left: 80px;
  top: 18px; }
  #nav-items li {
    display: inline-block;
    margin-left: 30px; }
    #nav-items li:first-child {
      margin-left: 0; }
  #nav-items a {
    font-size: 18px;
    font-weight: 800; }
  #nav-items a:hover {
    border-bottom: solid 4px #fff;
    padding-bottom: 14px; }

#logo {
  position: absolute;
  top: 16px;
  right: 80px; }

@media (max-width: 768px) {
  #nav-items {
    left: 40px; }
    #nav-items li {
      margin-left: 20px; }

  #logo {
    right: 40px; } }
@media (max-width: 568px) {
  nav {
    box-shadow: none;
    position: relative;
    background-color: initial; }

  .logo-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 60px;
    width: 100%;
    background-color: #ff6600;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); }

  #logo {
    left: 50%;
    transform: translate(-50%, 0%); }

  .nav-items-wrapper {
    position: absolute;
    top: 60px;
    left: 0px;
    height: 44px;
    width: 100%;
    background-color: #fff;
    border-bottom: solid 2px #eee; }

  #nav-items {
    top: 11px;
    width: 272px;
    left: 50%;
    transform: translate(-50%, 0%); }
    #nav-items li {
      margin-left: 40px; }
      #nav-items li:first-child {
        margin-left: 0; }
    #nav-items a {
      font-size: 16px;
      letter-spacing: 0px;
      color: #cc3300; }
    #nav-items a:hover {
      border-bottom: solid 4px #cc3300;
      padding-bottom: 7px; }

  #site-content {
    top: 46px; } }
/* Text Format ----------------------------------*/
h1, h2 {
  margin: 0;
  padding: 0;
  font-weight: 800;
  line-height: 1em; }

h1 {
  font-size: 72px;
  letter-spacing: -.5px; }

.quote {
  font-family: LEngineer;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: -2px; }

h1.quote {
  font-size: 96px; }

h1.light {
  font-weight: 300; }

p.location {
  text-transform: uppercase;
  letter-spacing: 2px; }

h1.star-rating {
  margin-bottom: 20px; }

h2 {
  font-size: 36px;
  margin-bottom: 20px; }

p.subheadline {
  font-weight: 800;
  color: #fff;
  letter-spacing: 0px; }

a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase; }

ol, ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.venue {
  text-transform: uppercase; }

.neighborhood {
  font-weight: 500; }

.location {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px; }

/* Rating ----------------------------------*/
.rating:after, .rating-1:after, .rating-2:after, .rating-3:after, .rating-4:after, .rating-5:after, .rating-1-5:after, .rating-2-5:after, .rating-3-5:after, .rating-4-5:after {
  left: 0;
  content: "\2605 \2605 \2605 \2605 \2605";
  position: absolute;
  overflow: hidden; }

.rating-wrapper {
  position: relative;
  display: table;
  margin: 0 auto;
  text-align: center; }

.rating-1:after {
  width: 20%;
  color: #ffcc00; }

.rating-2:after {
  width: 40%;
  color: #ffcc00; }

.rating-3:after {
  width: 60%;
  color: #ffcc00; }

.rating-4:after {
  width: 80%;
  color: #ffcc00; }

.rating-5:after {
  width: 100%;
  color: #ffcc00; }

.rating-1-5:after {
  width: 30%;
  color: #ffcc00; }

.rating-2-5:after {
  width: 50%;
  color: #ffcc00; }

.rating-3-5:after {
  width: 70%;
  color: #ffcc00; }

.rating-4-5:after {
  width: 90%;
  color: #ffcc00; }

/* Button ----------------------------------*/
.button {
  will-change: transform;
  position: relative;
  display: inline-block;
  text-align: center;
  background-color: #ff6600;
  padding: 14px 24px;
  transition: transform 0.15s; }

.button:before, .button:after {
  content: '';
  position: absolute;
  border: 7px solid transparent;
  will-change: border-left-width, border-top-width; }

.button:before {
  top: 0px;
  left: 100%;
  width: 0px;
  height: 100%;
  border-bottom-width: 0px;
  border-left-color: #cc3300;
  border-top-width: 7px;
  transition: border-left-width 0.15s, border-top-width 0.15s; }

.button:after {
  width: 100%;
  height: 0px;
  top: 100%;
  left: 0px;
  border-left-width: 7px;
  border-right-width: 0px;
  border-top-width: 7px;
  border-top-color: #cc3300;
  transition: border-left-width 0.15s, border-top-width 0.15s; }

.button:hover {
  transform: translate(7px, 7px); }

.button:hover:before, .button:hover:after {
  border-left-width: 0;
  border-top-width: 0; }

.play-button {
  padding: 20px 24px; }

/* Recipe Detail Page ----------------------------------*/
#ingredients, #directions, #recipe-info {
  display: table; }

#ingredients p {
  line-height: 20px;
  font-size: 14px;
  font-weight: 600; }

.measurement {
  color: #fff;
  font-size: 28px !important;
  font-weight: 800 !important;
  text-align: right; }

#recipe-info {
  position: absolute;
  top: 300px;
  right: 0px;
  background-color: #ffffcc;
  padding: 10px 40px; }
  #recipe-info .cell {
    padding: 0px 5px; }
    #recipe-info .cell p {
      line-height: 26px; }

.step-num h1 {
  line-height: 38px; }

.directions li {
  counter-increment: step-counter;
  font-weight: 400;
  line-height: 1.2;
  clear: left;
  margin-bottom: 40px; }

.directions li div {
  overflow: hidden;
  line-height: 1.2; }

.directions li:before {
  content: counter(step-counter);
  margin: -12px 20px 0 0;
  font-size: 72px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: white;
  float: left; }

/* About Page ----------------------------------*/
.uppercase {
  text-transform: uppercase; }

.light {
  font-weight: 300;
  letter-spacing: 1.5px; }

.extra-jumbo {
  font-size: 175px;
  text-transform: uppercase;
  line-height: 120px; }

.jumbo {
  font-size: 104px;
  text-transform: uppercase; }

.cycle div {
  display: inline-block; }

.cycle-text {
  text-align: left; }

.bio-image {
  max-width: 250px; }

.mozzstix-logo {
  max-width: 600px; }

/* Themes ----------------------------------*/
.white {
  background-color: #fff; }
  .white h1, .white h2, .white h3, .white h4, .white .promo-text {
    color: #000; }
  .white .star-rating {
    color: rgba(255, 255, 255, 0.2); }
  .white.solid {
    background: #fff; }
  .white.color-block {
    background-color: #666666; }
    .white.color-block .location {
      color: #fff; }
  .white .slant-promo-bottom {
    fill: #fff; }
  .white .label {
    color: #666666; }
  .white .button {
    background-color: #cccccc; }
    .white .button:before {
      border-left-color: #666666; }
    .white .button:after {
      border-top-color: #666666; }
  .white svg {
    fill: #fff; }
  @media (max-width: 568px) {
    .white .promo-top .promo-content {
      background-color: #fff; } }

.velveta {
  background-color: #ffa500; }
  .velveta h1, .velveta h2, .velveta h3, .velveta h4, .velveta .promo-text {
    color: #fff; }
  .velveta .star-rating {
    color: rgba(255, 255, 255, 0.2); }
  .velveta.solid {
    background: #ffa500; }
  .velveta.color-block {
    background-color: #cc3300; }
    .velveta.color-block .location {
      color: #fff; }
  .velveta .slant-promo-bottom {
    fill: #ffa500; }
  .velveta .label {
    color: #cc3300; }
  .velveta .button {
    background-color: #ff6600; }
    .velveta .button:before {
      border-left-color: #cc3300; }
    .velveta .button:after {
      border-top-color: #cc3300; }
  .velveta svg {
    fill: #ffa500; }
  @media (max-width: 568px) {
    .velveta .promo-top .promo-content {
      background-color: #ffa500; } }

.logo {
  background-color: #e79500; }
  .logo h1, .logo h2, .logo h3, .logo h4, .logo .promo-text {
    color: #fff; }
  .logo .star-rating {
    color: rgba(255, 255, 255, 0.2); }
  .logo.solid {
    background: #e79500; }
  .logo.color-block {
    background-color: #cc3300; }
    .logo.color-block .location {
      color: #fff; }
  .logo .slant-promo-bottom {
    fill: #e79500; }
  .logo .label {
    color: #cc3300; }
  .logo .button {
    background-color: #ff6600; }
    .logo .button:before {
      border-left-color: #cc3300; }
    .logo .button:after {
      border-top-color: #cc3300; }
  .logo svg {
    fill: #e79500; }
  @media (max-width: 568px) {
    .logo .promo-top .promo-content {
      background-color: #e79500; } }

.mustard {
  background-color: #ffd200; }
  .mustard h1, .mustard h2, .mustard h3, .mustard h4, .mustard .promo-text {
    color: #fff; }
  .mustard .star-rating {
    color: rgba(255, 255, 255, 0.2); }
  .mustard.solid {
    background: #ffd200; }
  .mustard.color-block {
    background-color: #cccc00; }
    .mustard.color-block .location {
      color: #fff; }
  .mustard .slant-promo-bottom {
    fill: #ffd200; }
  .mustard .label {
    color: #cccc00; }
  .mustard .button {
    background-color: #ffff00; }
    .mustard .button:before {
      border-left-color: #cccc00; }
    .mustard .button:after {
      border-top-color: #cccc00; }
  .mustard svg {
    fill: #ffd200; }
  @media (max-width: 568px) {
    .mustard .promo-top .promo-content {
      background-color: #ffd200; } }

.ketchup {
  background-color: #cc6666; }
  .ketchup h1, .ketchup h2, .ketchup h3, .ketchup h4, .ketchup .promo-text {
    color: #fff; }
  .ketchup .star-rating {
    color: rgba(255, 255, 255, 0.2); }
  .ketchup.solid {
    background: #cc6666; }
  .ketchup.color-block {
    background-color: #660000; }
    .ketchup.color-block .location {
      color: #fff; }
  .ketchup .slant-promo-bottom {
    fill: #cc6666; }
  .ketchup .label {
    color: #660000; }
  .ketchup .button {
    background-color: #cc0000; }
    .ketchup .button:before {
      border-left-color: #660000; }
    .ketchup .button:after {
      border-top-color: #660000; }
  .ketchup svg {
    fill: #cc6666; }
  @media (max-width: 568px) {
    .ketchup .promo-top .promo-content {
      background-color: #cc6666; } }

.lettuce {
  background-color: #669966; }
  .lettuce h1, .lettuce h2, .lettuce h3, .lettuce h4, .lettuce .promo-text {
    color: #fff; }
  .lettuce .star-rating {
    color: rgba(255, 255, 255, 0.2); }
  .lettuce.solid {
    background: #669966; }
  .lettuce.color-block {
    background-color: #003300; }
    .lettuce.color-block .location {
      color: #fff; }
  .lettuce .slant-promo-bottom {
    fill: #669966; }
  .lettuce .label {
    color: #003300; }
  .lettuce .button {
    background-color: #009933; }
    .lettuce .button:before {
      border-left-color: #003300; }
    .lettuce .button:after {
      border-top-color: #003300; }
  .lettuce svg {
    fill: #669966; }
  @media (max-width: 568px) {
    .lettuce .promo-top .promo-content {
      background-color: #669966; } }

.velveta-blk {
  background-color: #ffa500; }
  .velveta-blk h1, .velveta-blk h2, .velveta-blk h3, .velveta-blk h4, .velveta-blk .promo-text {
    color: #000; }
  .velveta-blk .star-rating {
    color: rgba(255, 255, 255, 0.2); }
  .velveta-blk.solid {
    background: #ffa500; }
  .velveta-blk.color-block {
    background-color: #cc3300; }
    .velveta-blk.color-block .location {
      color: #fff; }
  .velveta-blk .slant-promo-bottom {
    fill: #ffa500; }
  .velveta-blk .label {
    color: #cc3300; }
  .velveta-blk .button {
    background-color: #ff6600; }
    .velveta-blk .button:before {
      border-left-color: #cc3300; }
    .velveta-blk .button:after {
      border-top-color: #cc3300; }
  .velveta-blk svg {
    fill: #ffa500; }
  @media (max-width: 568px) {
    .velveta-blk .promo-top .promo-content {
      background-color: #ffa500; } }

/* Page Format Media Queries ----------------------------------*/
@media (max-width: 1024px) {
  .promo {
    height: 560px; }

  .bottom-slant {
    position: absolute;
    top: 400px; }

  #recipe-info {
    top: 250px; }

  .promo-content {
    max-width: 650px; }

  .left-align .promo-content {
    max-width: 420px; } }
@media (max-width: 768px) {
  .promo {
    height: 480px; }

  .promo-content {
    max-width: 500px;
    padding: 20px 40px; }

  .left-align .promo-content {
    max-width: 360px; }

  .label {
    left: 40px;
    top: 20px; } }
@media (max-width: 568px) {
  .promo-content-wrapper {
    width: 100%; }

  .promo-content {
    max-width: initial;
    padding: 0 20px; }

  .label {
    top: 20px;
    left: 20px; }

  .left-align .promo-content-wrapper {
    margin: 0 auto; }
  .left-align .promo-content {
    text-align: center; }

  .gradient .promo-content {
    background: rgba(0, 0, 0, 0.6); }

  .gradient-white .promo-content {
    background: rgba(255, 255, 255, 0.6); }

  .split .promo-bottom {
    display: table-row;
    height: 55%;
    background-size: cover;
    background-position: center; }
  .split .promo-content {
    background-color: orange;
    padding: 50px 20px 20px 20px; }
  .split .button-wrapper {
    display: relative;
    position: absolute;
    bottom: 30px;
    left: 0px;
    right: 0px;
    margin: 0 auto; }

  #recipe-info {
    position: relative;
    top: initial;
    right: intiial;
    width: 100%;
    padding: 10px 0px; } }
.flex-height {
  height: initial; }

/* Text Size Media Queries ----------------------------------*/
@media (max-width: 1024px) {
  h1 {
    font-size: 64px; }

  h1.quote {
    font-size: 72px; }

  .extra-jumbo {
    font-size: 175px; }

  .jumbo {
    font-size: 104px; } }
@media (max-width: 768px) {
  h1 {
    font-size: 48px; }

  h1.quote {
    font-size: 64px; }

  h2 {
    font-size: 28px; }

  .promo-text, .button-text {
    font-size: 22px; }

  .extra-jumbo {
    font-size: 146px; }

  .jumbo {
    font-size: 86px; } }
@media (max-width: 568px) {
  h1 {
    font-size: 36px; }

  h1.quote {
    font-size: 48px; }

  h2 {
    font-size: 24px; }

  p {
    font-size: 1.196em; }

  .button-text {
    font-size: 18px; }

  .extra-jumbo {
    font-size: 80px; }

  .jumbo {
    font-size: 48px; } }
