@font-face {
  font-family: LEngineer;
  src: url(http://www.mozzstix.com/fonts/LEngineer-Regular.otf);
  font-weight: normal; }
/* Text Format ----------------------------------*/
h1, h2 {
  margin: 0;
  padding: 0;
  font-weight: 800;
  line-height: 1em; }

h1 {
  font-size: 64px;
  letter-spacing: -.5px; }

p {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: .5px;
  text-align: left;
  color: #502800; }

.quote {
  font-family: LEngineer;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: -2px; }

h1.quote {
  font-size: 72px; }

h1.light {
  font-weight: 300; }

h1.star-rating {
  margin-bottom: 20px; }

h2 {
  font-size: 36px;
  margin-bottom: 20px; }

.column-header.left-align .headline, .column-header.left-align .location {
  text-align: left; }

p.subheadline {
  font-weight: 800;
  color: #fff;
  letter-spacing: 0px; }

a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase; }

ol, ul {
  padding-left: 0px;
  margin: 0px;
  list-style-type: none; }

.venue {
  text-transform: uppercase; }

.neighborhood {
  font-weight: 500; }

/* Page Format ----------------------------------*/
html {
  font-family: Open Sans;
  -webkit-font-smoothing: antialiased; }

body {
  margin: 0;
  overflow-x: hidden; }

#site-content {
  position: relative;
  top: 60px; }

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); }

.label {
  position: absolute;
  top: 50px;
  border-left: solid;
  border-width: 6px;
  padding-left: 8px;
  text-align: left;
  left: 80px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800; }

.promo {
  width: 100%;
  height: 640px;
  position: relative; }

.promo-content-wrapper {
  display: table;
  margin: 0 auto;
  height: 100%; }

.promo-content {
  display: table-cell;
  padding: 0 80px;
  vertical-align: middle;
  text-align: center;
  max-width: 800px; }

.promo-text {
  margin-bottom: 15px; }

.promo-text, .button-text {
  font-size: 24px;
  font-weight: 800;
  color: #fff; }

.promo-headline {
  margin-bottom: 25px; }

.button-text {
  text-transform: uppercase; }

.promo-top {
  display: table-row; }

.promo-bottom {
  display: none; }

.image .left-align {
  background-size: cover;
  background-position: right; }

.image {
  background-size: cover;
  background-position: center; }

.solid {
  background: orange; }

.left-align .promo-content-wrapper {
  margin: 0; }
.left-align .promo-content {
  text-align: left;
  max-width: 480px; }

.right-align .promo-content-wrapper {
  margin: 0;
  float: right; }
.right-align .promo-content {
  text-align: right;
  max-width: 480px; }

.center-align {
  text-align: center; }

.gradient .promo-content {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), transparent); }

.gradient-white .promo-content {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0)); }

.slant-promo-bottom {
  position: absolute;
  top: 640px;
  z-index: 1; }

.slant-promo-top {
  position: absolute;
  bottom: 640px; }

/* Rating ----------------------------------*/
.rating:after, .rating-1:after, .rating-2:after, .rating-3:after, .rating-4:after, .rating-5:after, .rating-1-5:after, .rating-2-5:after, .rating-3-5:after, .rating-4-5:after {
  left: 0;
  content: "\2605 \2605 \2605 \2605 \2605";
  position: absolute;
  overflow: hidden; }

.rating-wrapper {
  position: relative;
  display: table;
  margin: 0 auto;
  text-align: center; }

.rating-1:after {
  width: 20%;
  color: #ffcc00; }

.rating-2:after {
  width: 40%;
  color: #ffcc00; }

.rating-3:after {
  width: 60%;
  color: #ffcc00; }

.rating-4:after {
  width: 80%;
  color: #ffcc00; }

.rating-5:after {
  width: 100%;
  color: #ffcc00; }

.rating-1-5:after {
  width: 30%;
  color: #ffcc00; }

.rating-2-5:after {
  width: 50%;
  color: #ffcc00; }

.rating-3-5:after {
  width: 70%;
  color: #ffcc00; }

.rating-4-5:after {
  width: 90%;
  color: #ffcc00; }

/* Button ----------------------------------*/
.button {
  will-change: transform;
  position: relative;
  display: inline-block;
  text-align: center;
  background-color: #ff6600;
  padding: 14px 24px;
  transition: transform 0.15s; }

.button:before, .button:after {
  content: '';
  position: absolute;
  border: 7px solid transparent;
  will-change: border-left-width, border-top-width; }

.button:before {
  top: 0px;
  left: 100%;
  width: 0px;
  height: 100%;
  border-bottom-width: 0px;
  border-left-color: #cc3300;
  border-top-width: 7px;
  transition: border-left-width 0.15s, border-top-width 0.15s; }

.button:after {
  width: 100%;
  height: 0px;
  top: 100%;
  left: 0px;
  border-left-width: 7px;
  border-right-width: 0px;
  border-top-width: 7px;
  border-top-color: #cc3300;
  transition: border-left-width 0.15s, border-top-width 0.15s; }

.button:hover {
  transform: translate(7px, 7px); }

.button:hover:before, .button:hover:after {
  border-left-width: 0;
  border-top-width: 0; }

.play-button {
  padding: 20px 24px; }

/* Navigation ----------------------------------*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateZ(2px);
  -moz-transform: translateZ(2px);
  -o-transform: translateZ(2px);
  transform: translateZ(2px);
  z-index: 99;
  height: 60px;
  width: 100%;
  background-color: #ff6600;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out; }

nav.open {
  height: 100%; }

#hamburger {
  visibility: hidden; }

#nav-items {
  margin: 0;
  padding-left: 0;
  position: absolute;
  left: 80px;
  top: 18px; }
  #nav-items li {
    display: inline-block;
    margin-left: 30px; }
    #nav-items li:first-child {
      margin-left: 0; }
  #nav-items a {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px; }
  #nav-items a:hover {
    border-bottom: solid 4px #fff;
    padding-bottom: 14px; }

#nav-items.open {
  visibility: visible;
  text-align: center;
  position: relative;
  left: initial;
  top: 30px; }
  #nav-items.open li {
    display: block;
    margin-left: initial;
    margin-top: 36px; }
  #nav-items.open a {
    font-size: 28px; }
  #nav-items.open a:hover {
    padding-bottom: 0px; }

#logo {
  position: absolute;
  top: 16px;
  right: 80px; }

@media (max-width: 768px) {
  #nav-items {
    visibility: hidden; }

  #logo {
    left: 50%;
    transform: translate(-50%, 0%); }

  #hamburger {
    visibility: visible; } }
@media (max-width: 368px) {
  #logo {
    left: initial;
    transform: initial;
    right: 20px; } }
/* Hamburger icon -----*/
#hamburger {
  width: 36px;
  height: 26px;
  position: relative;
  left: 40px;
  top: 17px; }

@media (max-width: 568px) {
  #hamburger {
    left: 20px; } }
#hamburger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  opacity: 1;
  left: 0;
  border-radius: 3px; }

#hamburger span:nth-child(1) {
  top: 0px; }

#hamburger span:nth-child(2), #hamburger span:nth-child(3) {
  top: 11px; }

#hamburger span:nth-child(4) {
  top: 22px; }

#hamburger.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%; }

#hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#hamburger.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%; }

/* Recipe Detail Page ----------------------------------*/
.section-label {
  font-size: 24px;
  color: #000;
  font-weight: 800;
  padding-bottom: 15px; }

#ingredients, #directions, #recipe-info {
  display: table; }

#ingredients p {
  line-height: 26px;
  padding-bottom: 15px; }

.measurement {
  color: #fff;
  font-size: 28px !important;
  font-weight: 800 !important;
  text-align: right;
  line-height: 50px;
  white-space: nowrap;
  padding-right: 15px; }

.directions li {
  counter-increment: step-counter;
  font-weight: 400;
  line-height: 1.2;
  clear: left;
  margin-bottom: 40px; }

.directions li div {
  overflow: hidden;
  line-height: 1.2; }

.directions li:before {
  content: counter(step-counter);
  margin-right: 15px;
  padding-left: 460px;
  font-size: 56px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: white;
  float: left; }
  @media (max-width: 1024px) {
    .directions li:before {
      padding-left: 400px; } }
  @media (max-width: 768px) {
    .directions li:before {
      padding-left: 360px; } }
  @media (max-width: 668px) {
    .directions li:before {
      padding-left: 40px; } }
  @media (max-width: 568px) {
    .directions li:before {
      padding-left: 20px; } }

/* Review Detail Pages ----------------------------------*/
.hero-img {
  width: 100%;
  height: 450px;
  background-size: cover;
  background-position: right; }

.section-wrapper {
  margin: 40px auto;
  position: relative;
  max-width: 1200px; }

.column-header {
  margin: 80px 460px 40px 80px; }

.column-single, .column-outset {
  margin: 0px 460px 40px 80px; }

.sidebar-wrapper {
  float: right;
  width: 380px; }

.sidebar {
  top: 0px;
  margin-right: 80px;
  position: absolute;
  -webkit-transform: translateZ(1px);
  -moz-transform: translateZ(1px);
  -o-transform: translateZ(1px);
  transform: translateZ(1px); }
  .sidebar .rating, .sidebar .rating-1, .sidebar .rating-2, .sidebar .rating-3, .sidebar .rating-4, .sidebar .rating-5, .sidebar .rating-1-5, .sidebar .rating-2-5, .sidebar .rating-3-5, .sidebar .rating-4-5 {
    letter-spacing: 4px;
    font-size: 20px; }
  .sidebar .rating-wrapper {
    float: right; }
  .sidebar p {
    line-height: 36px; }

.sidebar-details {
  margin-top: 30px; }

.table {
  display: table;
  width: 300px; }

.row {
  display: table-row; }
  .row:nth-last-child(2) .cell.hr {
    padding-bottom: 15px; }
  .row:last-child .cell.hr {
    padding-top: 15px;
    border-top: 2px solid #d6ceab;
    width: auto; }

.cell {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 5px; }

.headline {
  font-size: 34px;
  font-weight: 800;
  color: #000;
  text-align: center;
  margin-bottom: 15px; }

.location {
  font-size: 22px;
  line-height: 34px;
  color: #000;
  text-align: center;
  margin-bottom: 15px; }

.rating-overall {
  font-size: 64px;
  line-height: 64px; }

p {
  font-size: 18px;
  line-height: 40px;
  color: #342d29; }

.weight-700 {
  font-weight: 700; }

.social-module {
  position: absolute;
  z-index: 1px;
  -webkit-transform: translateZ(1px);
  -moz-transform: translateZ(1px);
  -o-transform: translateZ(1px);
  transform: translateZ(1px);
  left: 80px;
  top: 360px; }

.in-nav {
  position: fixed;
  left: initial;
  top: 10px;
  right: 80px;
  -webkit-transform: translateZ(3px);
  -moz-transform: translateZ(3px);
  -o-transform: translateZ(3px);
  transform: translateZ(3px);
  z-index: 101; }
  .in-nav .social-icon {
    width: 40px;
    height: 40px; }

.social-button {
  display: inline;
  margin-right: 10px; }
  .social-button:last-child {
    margin-right: 0px; }

.social-icon {
  width: 50px;
  height: 50px; }

.locked-at-top {
  position: fixed;
  top: 140px; }

.locked-at-bottom {
  position: fixed;
  bottom: 60px;
  top: initial; }

.scale-img {
  height: auto;
  width: 100%; }

.quotation {
  font-family: LEngineer;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: -2px;
  font-size: 72px;
  text-align: center;
  color: #ec5002; }

.section-wrapper.left-sidebar .sidebar {
  margin-right: 0px;
  margin-left: 80px; }
.section-wrapper.left-sidebar .column-header {
  margin: 80px 80px 40px 460px; }
.section-wrapper.left-sidebar .column-single, .section-wrapper.left-sidebar .column-outset {
  margin: 0px 80px 40px 460px; }
.section-wrapper.left-sidebar .sidebar-wrapper {
  float: left;
  width: 380px; }

@media (max-width: 1024px) {
  .column-header {
    margin: 80px 400px 40px 80px; }

  .column-single, .column-outset {
    margin: 0px 400px 40px 80px; }

  .sidebar-wrapper {
    width: 340px; }

  .section-wrapper.left-sidebar .column-header {
    margin: 80px 80px 40px 400px; }
  .section-wrapper.left-sidebar .column-single, .section-wrapper.left-sidebar .column-outset {
    margin: 0px 80px 40px 400px; }
  .section-wrapper.left-sidebar .sidebar-wrapper {
    width: 340px; }

  p {
    font-size: 16px;
    line-height: 42px; }

  .table {
    width: 260px; }

  .rating-overall {
    font-size: 54px;
    line-height: 54px; }

  .quotation {
    font-size: 54px; } }
@media (max-width: 768px) {
  .hero-content {
    padding: 40px; }

  .column-header {
    margin: 80px 360px 40px 40px; }

  .column-single, .column-outset {
    margin: 0px 360px 40px 40px; }

  .sidebar-wrapper {
    width: 300px; }

  .section-wrapper.left-sidebar .column-header {
    margin: 80px 40px 40px 360px; }
  .section-wrapper.left-sidebar .column-single, .section-wrapper.left-sidebar .column-outset {
    margin: 0px 40px 40px 360px; }
  .section-wrapper.left-sidebar .sidebar-wrapper {
    width: 300px; }
  .section-wrapper.left-sidebar .sidebar {
    margin-left: 40px; }

  .table {
    width: 260px; }

  .social-module {
    left: 40px;
    top: 380px; }

  .in-nav {
    left: initial;
    right: 40px;
    top: 10px; } }
@media (max-width: 668px) {
  .section-wrapper {
    margin-top: 0px; }

  .hero-img {
    height: 230px;
    position: relative; }

  .label-container {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent); }

  .sidebar-wrapper {
    float: none;
    width: 100%;
    display: table; }

  .table {
    width: 100%; }

  .sidebar {
    top: 0px;
    width: auto;
    position: relative; }

  .sidebar, .column-single {
    margin: 0px 40px 40px 40px; }

  .column-header {
    margin: 40px; }

  .column-outset {
    margin: 0px 0px 40px 0px; }

  .section-wrapper.left-sidebar .sidebar {
    float: left; }
  .section-wrapper.left-sidebar .sidebar-wrapper {
    float: none;
    width: 100%; }
  .section-wrapper.left-sidebar .column-single {
    margin: 0px 40px 40px 40px; }
  .section-wrapper.left-sidebar .column-header {
    margin: 40px; }
  .section-wrapper.left-sidebar .column-outset {
    margin: 0px 0px 40px 0px; }

  .social-module {
    top: 160px; }

  .social-icon {
    height: 40px;
    width: 40px; }

  .in-nav {
    top: 10px; } }
@media (max-width: 568px) {
  .sidebar, .column-single {
    margin: 0px 20px 40px 20px; }

  .column-header {
    margin: 40px 20px 40px 20px; }

  .section-wrapper.left-sidebar .sidebar, .section-wrapper.left-sidebar .column-single {
    margin: 0px 20px 40px 20px; }
  .section-wrapper.left-sidebar .column-header {
    margin: 40px 20px 40px 20px; }

  .social-module {
    left: 20px; }

  .in-nav {
    left: initial;
    right: 20px; } }
.no-bottom-spacing {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important; }

/* About Page ----------------------------------*/
.uppercase {
  text-transform: uppercase; }

.light {
  font-weight: 300;
  letter-spacing: 1.5px; }

.extra-jumbo {
  font-size: 175px;
  text-transform: uppercase;
  line-height: 120px; }

.jumbo {
  font-size: 104px;
  text-transform: uppercase; }

.cycle div {
  display: inline-block; }

.cycle-text {
  text-align: left; }

.bio-image {
  max-width: 250px; }

.mozzstix-logo {
  max-width: 600px; }

/* Themes ----------------------------------*/
.white {
  background-color: #fff; }
  .white h1, .white h2, .white h3, .white h4, .white .promo-text {
    color: #000; }
  .white .rating, .white .rating-1, .white .rating-2, .white .rating-3, .white .rating-4, .white .rating-5, .white .rating-1-5, .white .rating-2-5, .white .rating-3-5, .white .rating-4-5 {
    color: #ffd200; }
    .white .rating:after, .white .rating-1:after, .white .rating-2:after, .white .rating-3:after, .white .rating-4:after, .white .rating-5:after, .white .rating-1-5:after, .white .rating-2-5:after, .white .rating-3-5:after, .white .rating-4-5:after {
      color: #ec5002; }
  .white.solid {
    background: #fff; }
  .white.color-block {
    background-color: #666666; }
    .white.color-block .location {
      color: #fff; }
  .white .slant-promo-bottom {
    fill: #fff; }
  .white .label {
    color: #666666; }
  .white .button {
    background-color: #cccccc; }
    .white .button:before {
      border-left-color: #666666; }
    .white .button:after {
      border-top-color: #666666; }
  .white svg {
    fill: #fff; }
  @media (max-width: 568px) {
    .white .promo-top .promo-content {
      background-color: #fff; } }

.velveta {
  background-color: #ffa500; }
  .velveta h1, .velveta h2, .velveta h3, .velveta h4, .velveta .promo-text {
    color: #fff; }
  .velveta .rating, .velveta .rating-1, .velveta .rating-2, .velveta .rating-3, .velveta .rating-4, .velveta .rating-5, .velveta .rating-1-5, .velveta .rating-2-5, .velveta .rating-3-5, .velveta .rating-4-5 {
    color: #ffd200; }
    .velveta .rating:after, .velveta .rating-1:after, .velveta .rating-2:after, .velveta .rating-3:after, .velveta .rating-4:after, .velveta .rating-5:after, .velveta .rating-1-5:after, .velveta .rating-2-5:after, .velveta .rating-3-5:after, .velveta .rating-4-5:after {
      color: #ec5002; }
  .velveta.solid {
    background: #ffa500; }
  .velveta.color-block {
    background-color: #cc3300; }
    .velveta.color-block .location {
      color: #fff; }
  .velveta .slant-promo-bottom {
    fill: #ffa500; }
  .velveta .label {
    color: #cc3300; }
  .velveta .button {
    background-color: #ff6600; }
    .velveta .button:before {
      border-left-color: #cc3300; }
    .velveta .button:after {
      border-top-color: #cc3300; }
  .velveta svg {
    fill: #ffa500; }
  @media (max-width: 568px) {
    .velveta .promo-top .promo-content {
      background-color: #ffa500; } }

.logo {
  background-color: #e79500; }
  .logo h1, .logo h2, .logo h3, .logo h4, .logo .promo-text {
    color: #fff; }
  .logo .rating, .logo .rating-1, .logo .rating-2, .logo .rating-3, .logo .rating-4, .logo .rating-5, .logo .rating-1-5, .logo .rating-2-5, .logo .rating-3-5, .logo .rating-4-5 {
    color: #ffd200; }
    .logo .rating:after, .logo .rating-1:after, .logo .rating-2:after, .logo .rating-3:after, .logo .rating-4:after, .logo .rating-5:after, .logo .rating-1-5:after, .logo .rating-2-5:after, .logo .rating-3-5:after, .logo .rating-4-5:after {
      color: #ec5002; }
  .logo.solid {
    background: #e79500; }
  .logo.color-block {
    background-color: #cc3300; }
    .logo.color-block .location {
      color: #fff; }
  .logo .slant-promo-bottom {
    fill: #e79500; }
  .logo .label {
    color: #cc3300; }
  .logo .button {
    background-color: #ff6600; }
    .logo .button:before {
      border-left-color: #cc3300; }
    .logo .button:after {
      border-top-color: #cc3300; }
  .logo svg {
    fill: #e79500; }
  @media (max-width: 568px) {
    .logo .promo-top .promo-content {
      background-color: #e79500; } }

.mustard {
  background-color: #ffd200; }
  .mustard h1, .mustard h2, .mustard h3, .mustard h4, .mustard .promo-text {
    color: #fff; }
  .mustard .rating, .mustard .rating-1, .mustard .rating-2, .mustard .rating-3, .mustard .rating-4, .mustard .rating-5, .mustard .rating-1-5, .mustard .rating-2-5, .mustard .rating-3-5, .mustard .rating-4-5 {
    color: #ffd200; }
    .mustard .rating:after, .mustard .rating-1:after, .mustard .rating-2:after, .mustard .rating-3:after, .mustard .rating-4:after, .mustard .rating-5:after, .mustard .rating-1-5:after, .mustard .rating-2-5:after, .mustard .rating-3-5:after, .mustard .rating-4-5:after {
      color: #ec5002; }
  .mustard.solid {
    background: #ffd200; }
  .mustard.color-block {
    background-color: #cccc00; }
    .mustard.color-block .location {
      color: #fff; }
  .mustard .slant-promo-bottom {
    fill: #ffd200; }
  .mustard .label {
    color: #cccc00; }
  .mustard .button {
    background-color: #ffff00; }
    .mustard .button:before {
      border-left-color: #cccc00; }
    .mustard .button:after {
      border-top-color: #cccc00; }
  .mustard svg {
    fill: #ffd200; }
  @media (max-width: 568px) {
    .mustard .promo-top .promo-content {
      background-color: #ffd200; } }

.ketchup {
  background-color: #cc6666; }
  .ketchup h1, .ketchup h2, .ketchup h3, .ketchup h4, .ketchup .promo-text {
    color: #fff; }
  .ketchup .rating, .ketchup .rating-1, .ketchup .rating-2, .ketchup .rating-3, .ketchup .rating-4, .ketchup .rating-5, .ketchup .rating-1-5, .ketchup .rating-2-5, .ketchup .rating-3-5, .ketchup .rating-4-5 {
    color: #ffd200; }
    .ketchup .rating:after, .ketchup .rating-1:after, .ketchup .rating-2:after, .ketchup .rating-3:after, .ketchup .rating-4:after, .ketchup .rating-5:after, .ketchup .rating-1-5:after, .ketchup .rating-2-5:after, .ketchup .rating-3-5:after, .ketchup .rating-4-5:after {
      color: #ec5002; }
  .ketchup.solid {
    background: #cc6666; }
  .ketchup.color-block {
    background-color: #660000; }
    .ketchup.color-block .location {
      color: #fff; }
  .ketchup .slant-promo-bottom {
    fill: #cc6666; }
  .ketchup .label {
    color: #660000; }
  .ketchup .button {
    background-color: #cc0000; }
    .ketchup .button:before {
      border-left-color: #660000; }
    .ketchup .button:after {
      border-top-color: #660000; }
  .ketchup svg {
    fill: #cc6666; }
  @media (max-width: 568px) {
    .ketchup .promo-top .promo-content {
      background-color: #cc6666; } }

.lettuce {
  background-color: #669966; }
  .lettuce h1, .lettuce h2, .lettuce h3, .lettuce h4, .lettuce .promo-text {
    color: #fff; }
  .lettuce .rating, .lettuce .rating-1, .lettuce .rating-2, .lettuce .rating-3, .lettuce .rating-4, .lettuce .rating-5, .lettuce .rating-1-5, .lettuce .rating-2-5, .lettuce .rating-3-5, .lettuce .rating-4-5 {
    color: #ffd200; }
    .lettuce .rating:after, .lettuce .rating-1:after, .lettuce .rating-2:after, .lettuce .rating-3:after, .lettuce .rating-4:after, .lettuce .rating-5:after, .lettuce .rating-1-5:after, .lettuce .rating-2-5:after, .lettuce .rating-3-5:after, .lettuce .rating-4-5:after {
      color: #ec5002; }
  .lettuce.solid {
    background: #669966; }
  .lettuce.color-block {
    background-color: #003300; }
    .lettuce.color-block .location {
      color: #fff; }
  .lettuce .slant-promo-bottom {
    fill: #669966; }
  .lettuce .label {
    color: #003300; }
  .lettuce .button {
    background-color: #009933; }
    .lettuce .button:before {
      border-left-color: #003300; }
    .lettuce .button:after {
      border-top-color: #003300; }
  .lettuce svg {
    fill: #669966; }
  @media (max-width: 568px) {
    .lettuce .promo-top .promo-content {
      background-color: #669966; } }

.velveta-blk {
  background-color: #ffa500; }
  .velveta-blk h1, .velveta-blk h2, .velveta-blk h3, .velveta-blk h4, .velveta-blk .promo-text {
    color: #000; }
  .velveta-blk .rating, .velveta-blk .rating-1, .velveta-blk .rating-2, .velveta-blk .rating-3, .velveta-blk .rating-4, .velveta-blk .rating-5, .velveta-blk .rating-1-5, .velveta-blk .rating-2-5, .velveta-blk .rating-3-5, .velveta-blk .rating-4-5 {
    color: #ffd200; }
    .velveta-blk .rating:after, .velveta-blk .rating-1:after, .velveta-blk .rating-2:after, .velveta-blk .rating-3:after, .velveta-blk .rating-4:after, .velveta-blk .rating-5:after, .velveta-blk .rating-1-5:after, .velveta-blk .rating-2-5:after, .velveta-blk .rating-3-5:after, .velveta-blk .rating-4-5:after {
      color: #ec5002; }
  .velveta-blk.solid {
    background: #ffa500; }
  .velveta-blk.color-block {
    background-color: #cc3300; }
    .velveta-blk.color-block .location {
      color: #fff; }
  .velveta-blk .slant-promo-bottom {
    fill: #ffa500; }
  .velveta-blk .label {
    color: #cc3300; }
  .velveta-blk .button {
    background-color: #ff6600; }
    .velveta-blk .button:before {
      border-left-color: #cc3300; }
    .velveta-blk .button:after {
      border-top-color: #cc3300; }
  .velveta-blk svg {
    fill: #ffa500; }
  @media (max-width: 568px) {
    .velveta-blk .promo-top .promo-content {
      background-color: #ffa500; } }

.panko {
  background-color: #fff5cb; }
  .panko h1, .panko h2, .panko h3, .panko h4, .panko .promo-text {
    color: #342d29; }
  .panko .rating, .panko .rating-1, .panko .rating-2, .panko .rating-3, .panko .rating-4, .panko .rating-5, .panko .rating-1-5, .panko .rating-2-5, .panko .rating-3-5, .panko .rating-4-5 {
    color: #ffd200; }
    .panko .rating:after, .panko .rating-1:after, .panko .rating-2:after, .panko .rating-3:after, .panko .rating-4:after, .panko .rating-5:after, .panko .rating-1-5:after, .panko .rating-2-5:after, .panko .rating-3-5:after, .panko .rating-4-5:after {
      color: #ec5002; }
  .panko.solid {
    background: #fff5cb; }
  .panko.color-block {
    background-color: #d6ceab; }
    .panko.color-block .location {
      color: #fff; }
  .panko .slant-promo-bottom {
    fill: #fff5cb; }
  .panko .label {
    color: #d6ceab; }
  .panko .button {
    background-color: #ff6600; }
    .panko .button:before {
      border-left-color: #d6ceab; }
    .panko .button:after {
      border-top-color: #d6ceab; }
  .panko svg {
    fill: #fff5cb; }
  @media (max-width: 568px) {
    .panko .promo-top .promo-content {
      background-color: #fff5cb; } }

/* Page Format Media Queries ----------------------------------*/
@media (max-width: 1024px) {
  .promo {
    height: 560px; }

  .bottom-slant {
    position: absolute;
    top: 400px; }

  #recipe-info {
    top: 250px; }

  .promo-content {
    max-width: 650px; }

  .left-align .promo-content {
    max-width: 420px; } }
@media (max-width: 768px) {
  .promo {
    height: 480px; }

  .promo-content {
    max-width: 500px;
    padding: 20px 40px; }

  .left-align .promo-content {
    max-width: 360px; }

  .label {
    left: 40px;
    top: 20px; } }
@media (max-width: 568px) {
  .promo-content-wrapper {
    width: 100%; }

  .promo-content {
    max-width: initial;
    padding: 0 20px; }

  .label {
    top: 20px;
    left: 20px; }

  .left-align .promo-content-wrapper {
    margin: 0 auto; }
  .left-align .promo-content {
    text-align: center; }

  .gradient .promo-content {
    background: rgba(0, 0, 0, 0.6); }

  .gradient-white .promo-content {
    background: rgba(255, 255, 255, 0.6); }

  .split .promo-bottom {
    display: table-row;
    height: 55%;
    background-size: cover;
    background-position: center; }
  .split .promo-content {
    background-color: orange;
    padding: 50px 20px 20px 20px; }
  .split .button-wrapper {
    display: relative;
    position: absolute;
    bottom: 30px;
    left: 0px;
    right: 0px;
    margin: 0 auto; }

  #recipe-info {
    position: relative;
    top: initial;
    right: intiial;
    width: 100%;
    padding: 10px 0px; } }
.flex-height {
  height: initial; }

/* Text Size Media Queries ----------------------------------*/
@media (max-width: 1024px) {
  h1 {
    font-size: 64px; }

  h1.quote {
    font-size: 64px; }

  .extra-jumbo {
    font-size: 175px; }

  .jumbo {
    font-size: 104px; } }
@media (max-width: 768px) {
  h1 {
    font-size: 48px; }

  h1.quote {
    font-size: 52px; }

  h2 {
    font-size: 28px; }

  .promo-text, .button-text {
    font-size: 22px; }

  .extra-jumbo {
    font-size: 146px; }

  .jumbo {
    font-size: 86px; } }
@media (max-width: 568px) {
  h1 {
    font-size: 36px; }

  h1.quote {
    font-size: 42px; }

  h2 {
    font-size: 24px; }

  .button-text {
    font-size: 18px; }

  .extra-jumbo {
    font-size: 80px; }

  .jumbo {
    font-size: 48px; } }
