{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block head_extra %}
<meta property="fb:app_id"       content="371959079641288" />
<meta property="og:url"          content="http://preview.mozzstix.com{{ url(item) }}" />
<meta property="og:type"         content="article" />
<meta property="og:title"        content="{{ item.name }}" />
<meta property="og:description"  content="&ldquo;{{ item.promo_quotation }}&rdquo;" />
<meta property="og:image"        content="http://preview.mozzstix.com{{ item.hero_image.url }}" />
{% endblock %}

{% block content %}

{# <div class="hero dim image {{ item.theme }}" style="background-image:url({{ item.hero_image.url }});">
  <div class="overlay">
    <div class="hero-content-wrapper">
      <div class="hero-content">
        <div class="label">{{ item._type }}</div>
        <h1>{{ item.name }}</h1>
        <h2 class="neighborhood">{{item.neighborhood}}</h2>
        <div class="rating-wrapper">
          <h1 class="rating-{{ item.overall}} star-rating">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</h1>
        </div>
        <div class="location">{{ item.address }}<br>{{ item.city }}, {{ item.state }} {{ item.zip_code }}</div>
      </div>
    </div>
  </div>
</div> #}

{# <div class="hero">
    <div class="hero-img" style="background-image:url({{ item.hero_image.url }});"></div>
  <div class="label-container">
    <div class="label">{{ item._type }}</div>
  </div>
  <div class="overlay">
    <div class="hero-content-wrapper">
      <div class="hero-content">
        <h1>{{ item.name }}</h1>
        <h2 class="neighborhood">{{item.neighborhood}}</h2>
        <div class="rating-wrapper">
          <h1 class="rating-{{ item.overall}} star-rating">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</h1>
        </div>
        <div class="location">{{ item.address }}<br>{{ item.city }}, {{ item.state }} {{ item.zip_code }}</div>
      </div>
    </div>
  </div>
</div> #}


<div class="hero-img" style="background-image:url({{ item.hero_image.url }});"></div>
<div class="label-container">
  <div class="label">{{ item._type }}</div>
</div>

<div class="section-wrapper">
  <div class="column-header">
    <div class="headline">{{ item.name }}</div>
    <p class="location">{{ item.address }}<br>{{ item.city }}, {{ item.state }} {{ item.zip_code }}</p>
    <div class="rating-wrapper">
      <div class="rating-overall rating-{{ item.overall}} ">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</div>
    </div>
    <div class="vr"></div>
  </div>
  <div class="sidebar-wrapper">
    <div class="sidebar">
      <div class="table">
        <div class="row">
          <div class="cell">
            <p class="weight-700">It Works</p>
          </div>
          <div class="cell">
            <div class="rating-wrapper">
              <div class="rating-{{ item.crispness }}">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="cell">
            <p class="weight-700">Breading</p>
          </div>
          <div class="cell">
            <div class="rating-wrapper">
              <div class="rating-{{ item.breading }}">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</div>
            </div>
          </div>
        </div>
       <div class="row">
          <div class="cell">
            <p class="weight-700">Gooeyness</p>
          </div>
          <div class="cell">
            <div class="rating-wrapper">
              <div class="rating-{{ item.gooeyness }}">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="cell">
            <p class="weight-700">Cheese</p>
          </div>
          <div class="cell">
            <div class="rating-wrapper">
              <div class="rating-{{ item.cheese }}">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</div>
            </div>
          </div>
        </div>
       <div class="row">
          <div class="cell">
            <p class="weight-700">Dip</p>
          </div>
          <div class="cell">
            <div class="rating-wrapper">
              <div class="rating-{{ item.dip }}">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="cell">
            <p class="weight-700">Presentation</p>
          </div>
          <div class="cell">
            <div class="rating-wrapper">
              <div class="rating-{{ item.presentation }}">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="cell">
            <p class="weight-700">Overall</p>
          </div>
          <div class="cell">
            <div class="rating-wrapper">
              <div class="rating-{{ item.overall }}">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</div>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar-details">
        <p><span class="weight-700">Name of dish</span> {{ item.name_of_dish }}</p>
        <p><span class="weight-700">Price</span> {{ item.price }}</p>
        <p><span class="weight-700">Price per stick</span> {{ item.price_per_stick }}</p>
      </div>
      <div class="sidebar-details">
          <div class="social-icon" type="button" onclick="facebookShare();">
    <img width="50" height="50" src="http://www.mozzstix.com/social/facebook-share.svg"></img>
  </div>
  <div class="social-icon" type="button">
    <a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fpreview.mozzstix.com{{ url(item)|url_encode}}&hashtags=mozzstix&text=custom%20share%20text" target="_blank">
      <img width="50" height="50" src="http://www.mozzstix.com/social/twitter-tweet.svg"></img>
    </a>
  </div>
</div>
    </div>
  </div>

  <div class="column-single">
    <div class="quotation">&ldquo;{{ item.promo_quotation }}&rdquo;</div><br>
  </div>
  <div class="column-single">
  {% for row in item.review %}
    <p>{{ row.paragraph }}</p><br>
    {% if row.quotation %}
      </div>
      <div class="column-single">
        <div class="quotation">&ldquo;{{ row.quotation }}&rdquo;</div><br>
      </div>
      <div class="column-single">
    {% endif %}
    {% if row.image %}
      </div>
      <div class="column-outset">
        <img class="scale-img" src="{{ row.image.url }}"/><br>
      </div>
      <div class="column-single">
    {% endif %}
  {% endfor %}
  </div>
</div>



{# Social! #}
<script>
function facebookShare() {
FB.ui({
  method: 'share',
  href: 'http://preview.mozzstix.com{{ url(item) }}',
}, function(response){});
}
</script>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
}(document, "script", "twitter-wjs"));</script>







{% endblock %}
