{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block head_extra %}
<meta property="fb:app_id"       content="371959079641288" />
<meta property="og:url"          content="http://preview.mozzstix.com{{ url(item) }}" />
<meta property="og:type"         content="article" />
<meta property="og:title"        content="{{ item.name }}" />
<meta property="og:description"  content="&ldquo;{{ item.promo_quotation }}&rdquo;" />
<meta property="og:image"        content="http://preview.mozzstix.com{{ item.hero_image.url }}" />
{% endblock %}

{% block content %}

{# <div class="hero dim image {{ item.theme }}" style="background-image:url({{ item.hero_image.url }});">
  <div class="overlay">
    <div class="hero-content-wrapper">
      <div class="hero-content">
        <div class="label">{{ item._type }}</div>
        <h1>{{ item.name }}</h1>
        <h2 class="neighborhood">{{item.neighborhood}}</h2>
        <div class="rating-wrapper">
          <h1 class="rating-{{ item.overall}} star-rating">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</h1>
        </div>
        <div class="location">{{ item.address }}<br>{{ item.city }}, {{ item.state }} {{ item.zip_code }}</div>
      </div>
    </div>
  </div>
</div> #}

{# <div class="hero">
    <div class="hero-img" style="background-image:url({{ item.hero_image.url }});"></div>
  <div class="label-container">
    <div class="label">{{ item._type }}</div>
  </div>
  <div class="overlay">
    <div class="hero-content-wrapper">
      <div class="hero-content">
        <h1>{{ item.name }}</h1>
        <h2 class="neighborhood">{{item.neighborhood}}</h2>
        <div class="rating-wrapper">
          <h1 class="rating-{{ item.overall}} star-rating">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</h1>
        </div>
        <div class="location">{{ item.address }}<br>{{ item.city }}, {{ item.state }} {{ item.zip_code }}</div>
      </div>
    </div>
  </div>
</div> #}


<div class="jumbo-img" style="background-image:url({{ item.hero_image.url }});"></div>

<div class="section-wrapper">
  <div class="column-header">
    <div class="headline">{{ item.name }}</div>
    <p class="location">{{ item.address }}<br>{{ item.city }}, {{ item.state }} {{ item.zip_code }}</p>
    <div class="rating-wrapper">
      <div class="rating-overall rating-{{ item.overall}} ">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</div>
    </div>
    <div class="vr"></div>
  </div>
  <div class="sidebar">
    <div class="table">
      <div class="row">
        <div class="cell">
          <p>Crispness</p>
        </div>
        <div class="cell">
          <div class="rating-wrapper">
            <div class="rating-{{ item.crispness }} rating-sm">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="cell">
          <p>Breading</p>
        </div>
        <div class="cell">
          <div class="rating-wrapper">
            <div class="rating-{{ item.breading }} rating-sm">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</div>
          </div>
        </div>
      </div>
     <div class="row">
        <div class="cell">
          <p>Gooeyness</p>
        </div>
        <div class="cell">
          <div class="rating-wrapper">
            <div class="rating-{{ item.gooeyness }} rating-sm">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="cell">
          <p>Cheese</p>
        </div>
        <div class="cell">
          <div class="rating-wrapper">
            <div class="rating-{{ item.cheese }} rating-sm">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</div>
          </div>
        </div>
      </div>
     <div class="row">
        <div class="cell">
          <p>Dip</p>
        </div>
        <div class="cell">
          <div class="rating-wrapper">
            <div class="rating-{{ item.dip }} rating-sm">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="cell">
          <p>Presentation</p>
        </div>
        <div class="cell">
          <div class="rating-wrapper">
            <div class="rating-{{ item.presentation }} rating-sm">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="table">
      <div class="row">
        <div class="cell">
          <p class="weight-800">Overall</p>
        </div>
        <div class="cell">
          <div class="rating-wrapper">
            <div class="rating-{{ item.overall }} rating-sm">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</div>
          </div>
        </div>
      </div>
    </div>
    <p><span class="weight-800">Name of dish</span> {{ item.name_of_dish }}</p>
    <p><span class="weight-800">Price</span> {{ item.price }}</p>
    <p><span class="weight-800">Price per stick</span> {{ item.price_per_stick }}</p>
  </div>


  <div class="column-single">
    <div class="quotation">&ldquo;{{ item.promo_quotation }}&rdquo;</div><br>
  </div>
  <div class="column-single">
  {% for row in item.review %}
    <p>{{ row.paragraph }}</p><br>
    {% if row.quotation %}
      </div>
      <div class="column-single">
        <div class="quotation">&ldquo;{{ row.quotation }}&rdquo;</div><br>
      </div>
      <div class="column-single">
    {% endif %}
    {% if row.image %}
      </div>
      <div class="column-outset">
        <img class="scale-img" src="{{ row.image.url }}"/><br>
      </div>
      <div class="column-single">
    {% endif %}
  {% endfor %}
  </div>
</div>



{# Social! #}

<div class="fb-share-button" data-href="http://preview.mozzstix.com{{ url(item) }}" data-layout="button"></div>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://preview.mozzstix.com{{ url(item) }}" data-text="Check out this review of {{ item.name }}" data-hashtags="mozzstix">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

{% endblock %}
