{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}
<div class="content-wrapper">
  <div class="l-content">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-3">
        <h1>{{ item.name }}</h1>
      </div>
    </div>
  </div>
</div>
<div class="hero left-align image gradient {{ item.theme }}" style="background-image:url({{ item.image.url }});">
  <svg class="top-slant" width="100%" height="50" viewBox="0 0 50 50" preserveAspectRatio="none">
      <polygon points="0,0 50,0 50,50"/>
  </svg>
  <div class="hero-content-wrapper">
    <div class="hero-content">
{#       <h4 class="label">{{ item._type }}</h4>
      <h1>{{ item.name }}</h1> #}
    </div>
  </div>
  <svg class="bottom-slant" width="100%" height="50" viewBox="0 0 50 50" preserveAspectRatio="none">
      <polygon points="0,0 50,50 0,50"/>
  </svg>
  <ul class="recipe-info">
    <li><span>Total time</span>{{ item.total_time }}</li>
    <li><span>Yield</span>{{ item.yield }}</li>
    <li><span>Skill Level</span>{{ item.skill_level }}</li>
  </ul>
</div>

<div class="content-wrapper">
  <div class="l-content">
{#     <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-3">
        <h1>{{ item.name }}</h1>
      </div>
      <div class="pure-u-1 pure-u-md-2-3">
        <img class="scale-img" src="{{ item.image.url }}" />
      </div>
    </div> #}
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-3">
        <div class="l-box">
          <h2 class="box-header">Ingredients</h2>
          <section id="ingredients">
            {% for key, row in item.ingredients %}
            <div class="row">
              <div class="cell no-wrap">
                <p>{{ row|first }}</p>
              </div>
              <div class="cell">
                <p>{{ row|last }}</p>
              </div>
            </div>     
            {% endfor %}
          </section>
        </div>
      </div>
      <div class="pure-u-1 pure-u-md-2-3">
        <div class="l-box">
          <h2 class="box-header">Directions</h2>
          <section id="directions">
            {% for row in item.directions %}
            <div class="row">
              <div class="cell no-wrap">
                <h1>{{ loop.index }}</h1>
              </div>
              <div class="cell">
                <p>{{ row.step }}</p>
                {% if row.image %}
                <img src="{{ row.image }}" />
                {% endif %}
              </div>
            </div>
            {% endfor %}
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
