{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}

<div class="hero left-align-gradient">
  <div class="hero-img" style="background-image:url({{ item.hero_image.url }});"></div>
  <div class="label-container">
    <div class="label">{{ item._type }}</div>
  </div>
  <div class="hero-content-wrapper">
    <div class="hero-content">
      <h1>{{ item.name }}</h1>
      <p>{{ item.subheadline }}</p>
    </div>
  </div>
</div>


{# <div id="recipe-info">
  <div class="row">
    <div class="cell no-wrap"><p><strong>Total time</strong></p></div>
    <div class="cell"><p>{{ item.total_time }}</p></div>
  </div>
  <div class="row">
    <div class="cell no-wrap"><p><strong>Yield</strong></p></div>
    <div class="cell"><p>{{ item.yield }}</p></div>
  </div>
  <div class="row">
    <div class="cell no-wrap"><p><strong>Skill Level</strong></p></div>
    <div class="cell"><p>{{ item.skill_level }}</p></div>
  </div>
</div> #}

<div class="section-wrapper">
{#   <div class="sidebar">
    <h2>Ingredients</h2>
    {% for key, row in item.ingredients %}
    <div class="row">
      <div class="cell no-wrap">
        <p class="measurement">{{ row|first }}</p>
      </div>
      <div class="cell">
        <p>{{ row|last }}</p>
      </div>
    </div>     
    {% endfor %}
  </div> #}

   <div class="sidebar">
    <h2>Ingredients</h2>
    {% for key, row in item.ingredients %}
    <p><span class="measurement">{{ row|first }}</span> {{ row|last }}</p>  
    {% endfor %}
  </div>
  <div class="single-column">
    <h2>Directions</h2>
    <ol class="directions">
    {% for row in item.directions %}
      <li><div><p>{{ row.step }}</p>
      {% if row.step_image %}
        <img class="margin-top-sm scale-img" src="{{ row.step_image.url }}" />
      {% endif %}</div>
      </li>
      {% endfor %}
    </ol>
  </div>
</div>
{% endblock %}
