{% extends "templates/partials/base.html" %}

{% block content %}

  {# MERGE A BUNCH OF CMS CONTENT TOGETHER INTO ONE FEED #}
  {% set editorial = merge(cms.recipe, cms.review) %}
  {% set editorial = editorial|sort('publish_date', true) %}
  {# INFINITE SCROLL BY 10 #}
  {% set editorial = paginate(editorial, 10) %}
<div id="site-content">
    {% for item in editorial %}
      {# GALLERY #}
      {% if item._type == "recipe" %}
        {% include "templates/partials/li_recipe.html" %}
      {# ARTICLE #}
      {% elseif item._type == "review" %}
        {% include "templates/partials/li_review.html" %}
      {% endif %}
    {% endfor %}
</div>
{% endblock %}

{% block scripts_extra %}{% endblock %}